<div class="p-mb-3 p-mt-3">
  <h4 style="color:#1f2779">Lịch xích năm</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
  <div></div>
  <div class="p-d-flex p-flex-row">
    <div class=" p-m-2">
      <p-radioButton value="theoBaoDuong" [(ngModel)]="filter.isChon" (onClick)="loadData()"></p-radioButton>
      <label>Theo loại bảo dưỡng</label>
    </div>
    <div class=" p-m-2">
      <p-radioButton value="theoMay" [(ngModel)]="filter.isChon" (onClick)="loadData()"></p-radioButton>
      <label>Theo máy</label>
    </div>
    <div class="p-mr-2">
      <p-dropdown [filter]="true" [options]="listNam" [(ngModel)]="filter.Ngay" [showClear]="true"
        placeholder="Chọn năm" styleClass="p-inputtext-sm" (onChange)="loadData(true)"></p-dropdown>
    </div>
    <div class="p-mr-2">
      <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn bộ phận sử dụng "
        styleClass="p-inputtext-sm" [showClear]="true" [filter]="true" [(ngModel)]="filter.IdBoPhanSuDung"
        (onChange)="loadData(true)"></p-dropdown>
    </div>
    <div class="p-mr-2">
      <p-dropdown [filter]="true" [options]="listCongDoan" placeholder="Chọn công đoạn" styleClass="p-inputtext-sm"
        [(ngModel)]="filter.Ma" [showClear]="true" [filter]="true" (onChange)="loadData(true)"></p-dropdown>
    </div>
  </div>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
  <div></div>
  <div class="p-mr-2"><strong>Tổng số: <span style="color: red;">{{items.TongSoTaiSan}}</span> thiết bị</strong></div>
</div>

<p-table [value]="items.listBaoDuong" *ngIf="filter.isChon === 'theoBaoDuong'" [paginator]="true" [rows]="20"
  styleClass="p-datatable-sm wrap-text p-datatable-striped">
  <ng-template pTemplate="colgroup">
    <colgroup>
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 2%;min-width: 50px; ">STT</th>
      <th class="text-center">Loại bảo dưỡng</th>
      <th class="text-center" *ngFor="let label of items.listThoiGian">Tháng {{label}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr>
      <td class="text-center" style="width: 2%;min-width: 50px;">
        {{i+ 1}}
      </td>
      <td (click)="ChiTietBaoDuong(item)">{{item.TendmLoaiBaoDuong}}</td>
      <td class="text-center" *ngFor="let newItem of item.listItemTheoThoiGian">
        <a href="javascript:void(0)" *ngFor="let taisan of newItem.listChiTiet" (click)="ChiTietThongTin(taisan)"
          [ngStyle]="{'color': taisan.Mau}">
          {{taisan.TenTaiSan}},
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    Tổng số bản ghi {{items.listBaoDuong?.length}}.
  </ng-template>
</p-table>

<p-table [value]="items.listTaiSan" *ngIf="filter.isChon === 'theoMay'" [paginator]="true" [rows]="20"
  styleClass="p-datatable-sm wrap-text p-datatable-striped">
  <ng-template pTemplate="colgroup">
    <colgroup>
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 2%;min-width: 50px; ">STT</th>
      <th class="text-center">Mã, tên tài sản</th>
      <th class="text-center" *ngFor="let label of items.listThoiGian">Tháng {{label}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr>
      <td class="text-center" style="width: 2%;min-width: 50px;">
        {{i+ 1}}
      </td>
      <td (click)="ChiTietThongTin(item)">{{item.MaTaiSan}} - {{item.TenTaiSan}}</td>
      <td class="text-center" *ngFor="let newItem of item.listItemTheoThoiGian">
        <a href="javascript:void(0)" *ngFor="let taisan of newItem.listChiTiet" (click)="ChiTietBaoDuong(taisan)"
          [ngStyle]="{'color': taisan.Mau}">
          {{taisan.TendmLoaiBaoDuong}}
        </a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="paginatorleft">
    Tổng số bản ghi {{items.listTaiSan?.length}}.
  </ng-template>
</p-table>