<div class="modal-header">
    <h5 class="modal-title">Kiểm kê bán chế phẩm trên dây chuyền</h5>
    <div>Số quy trình: {{item.SoQuyTrinh}}</div>
    <div>Ngày tạo: {{item.Created|date:'dd/MM/yyyy'}}</div>
    <div>Ngày duyệt: {{item.Created|date:'dd/MM/yyyy'}}</div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Lưu nháp" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Xác nhận" class="p-mr-2 p-button-sm"
                (click)="ChuyenDuyet()" *ngIf="checkbutton.ChuyenTiep"></button>
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-5 p-p-3 d-flex flex-column flex-lg-row">  
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Phân xưởng:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdmPhanXuong" placeholder="Chọn phân xưởng" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.IddmPhanXuong"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-7  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
            </div>
        </div>

        <div class="p-col-12 p-p-0 d-flex flex-column">
            <p-tabView>
                <p-tabPanel header="Bông chải">
                    <ng-template pTemplate="content">
                        <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listBongChai" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col style="width:100px">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center">Bông chải</th>
                            <th class="text-center">ĐVT</th>
                            <th class="text-center">Số lượng</th>
                            <th class="text-center">KL đv</th>
                            <th class="text-center">Tổng KL</th>
                            <th class="text-center">Ghi chú</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                        <tr>
                            <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                            <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                            </td>
                        </tr>
                    </ng-template>
                    </p-table>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="Xơ chải">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listXoChai" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Xơ chải</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Chải thô">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listXoChai" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Chải thô</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Ghép sơ bộ">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listGhepSoBo" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Ghép sơ bộ</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Cuộn cúi">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listCuonCui" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Cuộn cúi</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Chải kỹ">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listChaiKy" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Chải kỹ</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Ghép trộn A">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listGhepTronA" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Ghép trộn A</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Ghép trộn B">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listGhepTronB" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Ghép trộn B</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Ghép đầu ra">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listGhepDauRa" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Ghép đầu ra</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Thô">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listTho" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center">Thô</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">KL đv</th>
                                <th class="text-center">Tổng KL</th>
                                <th class="text-center">Ghi chú</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.Ten}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Con">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listCon" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center" rowspan="2">Máy số</th>
                                <th class="text-center" rowspan="2">Mặt hàng</th>
                                <th class="text-center" colspan="2">Chạy dở dang</th>
                                <th class="text-center" colspan="2">Đang để sợi</th>
                                <th class="text-center" rowspan="2">Trên xe chở dang ống (Quả SC)</th>
                                <th class="text-center" rowspan="2">Khối lượng ống sợi (Kg)</th>
                                <th class="text-center" rowspan="2">Tổng cộng (Kg)</th>
                                <th class="text-center" rowspan="2">Ghi chú</th>
                            </tr>
                            <tr>
                                <th class="text-center">Đang chạy dở (%)</th>
                                <th class="text-center">Quy ống đầy (Quả SC)</th>
                                <th class="text-center">Trên máy (Quả SC)</th>
                                <th class="text-center">Trên xe (Quả SC)</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.TendmMay}}</td>
                                <td class="align-content-center first-col sticky-col">{{itemindex.TendmMatHang}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
                <p-tabPanel header="Ống">
                    <p-table  [lazy]="true" [scrollable]="true" scrollHeight="45vh"
                    [value]="item.listOng" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                        <ng-template pTemplate="colgroup">
                            <colgroup>
                                <col style="width:100px">
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col>
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center" rowspan="2">Máy số</th>
                                <th class="text-center" rowspan="2">Mặt hàng</th>
                                <th class="text-center" colspan="6">Cone sợi ống</th>
                                <th class="text-center" colspan="4">Ống sợi con</th>
                                <th class="text-center" rowspan="2">Tổng</th>
                            </tr>
                            <tr>
                                <th class="text-center">Đang chạy dở</th>
                                <th class="text-center">Quy ống đầy</th>
                                <th class="text-center">Cone đầy</th>
                                <th class="text-center">Tổng số Cone</th>
                                <th class="text-center">KL 1 Cone sợi</th>
                                <th class="text-center">Cộng 1</th>
                                <th class="text-center">Ở hộp chứa</th>
                                <th class="text-center">Trên xe chứa ống</th>
                                <th class="text-center">KL sợi 1 ống</th>
                                <th class="text-center">Cộng 2</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemindex let-i="rowIndex">
                            <tr>
                                <td class="align-content-center first-col sticky-col">{{itemindex.TendmMay}}</td>
                                <td class="align-content-center first-col sticky-col">{{itemindex.TendmMatHang}}</td>
                                <td *ngFor="let itemsanpham of itemindex.lstChatLuongSanPham" class="text-center">
                                    <input type="text" [(ngModel)]="itemsanpham.isDat"/>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>