.tc-w-80 {
  min-width: 100px !important;
  max-width: 100px !important;
  padding: 8px;
}

.tc-w-40 {
  min-width: 50px !important;
  max-width: 50px !important;
  padding: 8px;
}

.tc-w-280 {
  min-width: 280px !important;
  max-width: 280px !important;
  padding: 8px;
}

:host::ng-deep.p-inputnumber-input {
  padding-right: 0 !important;
}

:host::ng-deep.p-panel-content {
  padding: 0 !important;
}

th {
  border: none!important;
}

td {
  background-color: #fff;
  border: none!important;
}

