<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="_activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <div>
                    <button pButton pRipple label="Quay lại" class="p-button-sm p-mr-2"
                        (click)="_activeModal.dismiss()"></button>
                    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
                </div>
                <div class="d-flex">
                    <div class="p-mr-2">
                        <p-dropdown [filter]="true" [options]="listPhanXuong" styleClass="p-inputtext-sm"
                            (onChange)="handleNhaMay()" [showClear]="true" placeholder="Chọn nhà máy"
                            [(ngModel)]="filter.IddmPhanXuong"></p-dropdown>
                    </div>
                    <div class="p-mr-2 w-full">
                        <p-dropdown [options]="listPhieuLienKet" styleClass="p-inputtext-sm" [virtualScroll]="true"
                            [itemSize]="20" [showClear]="true" [filter]="true" placeholder="Chọn phiếu liên kết"
                            (onChange)="getDanhMatHangLienKet()" [(ngModel)]="filter.IdPhieuLienKet"
                            [panelStyle]="{ width: '400px' }"></p-dropdown>
                    </div>
                    <!-- <div class="p-mr-2">
                        <p-dropdown [filter]="true" [options]="listCongDoan" styleClass="p-inputtext-sm"
                            placeholder="Chọn công đoạn" [(ngModel)]="filter.CongDoan"></p-dropdown>
                    </div> -->
                    <div class="p-inputgroup" style="width: 250px">
                        <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                            [(ngModel)]="filter.KeyWord" />
                        <button type="button" pButton pRipple icon="pi pi-refresh"
                            class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
                    </div>
                </div>
            </div>

            <p-table [value]="listView" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width: 50px">
                        <col style="width: 50px">
                        <!-- <col style="width: 150px"> -->
                        <col>
                        <col style="width: 120px">
                        <col style="width: 120px">
                        <col style="width: 120px">
                        <col style="width: 120px">
                        <col style="width: 120px">
                        <col style="width: 120px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-checkbox [(ngModel)]="checkedAll" (onChange)="getCheckAll($event.checked)" binary="true"
                                inputId="binary"></p-checkbox>
                        </th>
                        <th>STT</th>
                        <!-- <th>Nhà máy</th> -->
                        <th>Mặt hàng</th>
                        <th>Kế hoạch triển khai gốc</th>
                        <th>Kế hoạch triển khai</th>
                        <th>Số tấn tồn</th>
                        <th>Khối lượng cần SX</th>
                        <th>Số tấn đặt</th>
                        <th>Khối lượng phải SX</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">
                            <p-checkbox [(ngModel)]="item.checked" (onChange)="getChecked(item)" binary="true"
                                inputId="binary"></p-checkbox>
                        </td>
                        <td class="text-center">{{i + 1}}</td>
                        <!-- <td>{{item.TendmPhanXuong}}</td> -->
                        <td>{{item.Ten}}</td>

                        <td class="text-right"> {{item.KhoiLuongSanXuat | number:'0.2-2'}} </td>
                        <td>
                            <p-inputNumber locale="en-EN" [(ngModel)]="item.SanLuongCanSX" [min]="0"
                                [minFractionDigits]="2" [maxFractionDigits]="2"></p-inputNumber>
                        </td>
                        <td class="text-right"> {{item.SanLuongTon| number:0.0-0}}</td>
                        <!-- 13/82025 alap đổi ct -->
                        <td class="text-right"> {{(item.SanLuongCanSX + item.SanLuongTon) | number:0.0-0}}</td> 
                        <td>
                            <p-inputNumber locale="en-EN" [(ngModel)]="item.SanLuongDat" [minFractionDigits]="0"
                                [max]="item.KhoiLuongSanXuat" (onBlur)="nhapSoTanDat(item)"></p-inputNumber>
                        </td>
                        <td class="text-right">{{(item.SanLuongCanSX - item.SanLuongTon + item.SanLuongDat) |
                            number:0.0-0}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>