.kehoach {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #FF5C00;
    transform:
        
        rotate(-45deg);
    margin-right: 3px;
}
.thucte {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #0A91E6;
    transform:
       
        rotate(-45deg);
    margin-right: 3px;
}

.content{
    height: calc(100vh - 100px);
}

:host ::ng-deep canvas {
    height: calc(100vh - 60px - 32px - 60px - 28px) !important;
    width: calc(100vw - 80px);
}