<div>
    <div class="modal-header">
        <h5 class="modal-title">Chọn hợp đồng</h5>
    </div>
    <div class="modal-body">
        <div class="d-flex">
            <button pButton pRipple label="Quay lại" class="p-button-sm p-button-outlined p-mr-2"
                (click)="activeModal.dismiss()"></button>
            <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
        </div>
        <div class="p-grid p-pt-2">
            <p-table [value]="listHopDong" styleClass="p-datatable-sm wrap-text p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col style="width:50px">
                        <col>
                        <col>
                        <col style="width: 9rem">
                        <col style="width: 9rem">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Hợp đồng</th>
                        <th>Mặt hàng</th>
                        <th>Khối lượng hợp đồng</th>
                        <th>Khối lượng còn lại</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">
                            <p-checkbox [(ngModel)]="item.checked" binary="true" inputId="binary"
                                (onChange)="getCheck(item)"></p-checkbox>
                        </td>
                        <td class="text-center">{{i+1}}</td>
                        <td class="">{{item.soHopDong}}</td>
                        <td class="">{{item.tenMatHang}}</td>
                        <td class="text-right">{{item.khoiLuongHopDong |number:'0.0-0'}}</td>
                        <td class="text-right">{{item.khoiLuongConLai |number:'0.0-0'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>