<div class="modal-header">
    <h5 class="modal-title">
        {{title}}
    </h5>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 d-flex">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm "
                (click)="activeModal.dismiss()"></button>
            <button pButton pRipple type="button" label="Chấp nhận" class="p-mr-2 p-button-sm"
                (click)="ChapNhan()"></button>
        </div>
        <div class="p-inputgroup" [style]="{ width: '20vw', height: '36px' }">
            <input #inputtt1 type="text" pInputText class="p-inputtext-sm"
                (input)="tb.filterGlobal($event.target.value, 'contains')" placeholder="Tìm kiếm" />
            <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn p-inputtext-sm"
                (click)="tb.filterGlobal($event.target.value, '')" (click)="inputtt1.value = ''"></button>
        </div>
    </div>

    <div class="p-pt-3">
        <p-table #tb [value]="listItem" dataKey="IdGuid" [globalFilterFields]="['MaNhanVien','TenDayDu']"
            styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-checkbox [(ngModel)]="checkedAll" binary="false" inputId="binaryall"
                            (onChange)="checkAll($event)"></p-checkbox>
                    </th>
                    <th style="width: 3rem">STT</th>
                    <th style="width: 10rem">Mã {{titleHead}}</th>
                    <th>Tên {{titleHead}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-i="rowIndex">
                <tr class="p-selectable-row">
                    <td class="text-center">
                        <p-checkbox [(ngModel)]="user.checked" binary="true" inputId="binary" (onChange)="checked()">
                        </p-checkbox>
                    </td>
                    <td class="text-center">{{i+1}}</td>
                    <td>
                        {{user.Ma}}
                    </td>
                    <td>
                        {{user.Ten}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                Tổng số bản ghi {{listItem.length}}.
            </ng-template>
        </p-table>
    </div>
</div>