<div class="modal-header d-flex p-jc-between p-ai-center">
  <h4 class="title" style="color:#1f2779">
    Chi phí theo kế hoạch {{kehoach.Nam?("năm " + kehoach.Nam):''}}
  </h4>
  <div class="d-flex flex-column flex-lg-row">
    <div>
      <span style="font-weight: bold;">Số quy trình: {{kehoach.SoQuyTrinh}}</span>
    </div>
    <div class="ml-lg-3 mr-lg-3">
      <span style="font-weight: bold;">TG Tạo: {{kehoach.Created | date:'dd/MM/yyyy HH:mm'}}</span>
    </div>
    <div>
      <span style="font-weight: bold;">TG Duyệt: {{kehoach.Modified | date:'dd/MM/yyyy HH:mm'}}</span>
    </div>
  </div>
</div>
<div class="modal-body d-grid">
  <div class="d-flex justify-content-between p-mb-3" style="width: 100%">
    <div>
      <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
        (click)="activeModal.dismiss()"></button>
      <button pButton pRipple type="button" label="Điều chỉnh" class="p-mr-2 p-button-sm" *ngIf="kehoach.isDieuChinh"
      (click)="dieuChinh()"></button>
      <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm " (click)="ghiLai()"
        *ngIf="checkButton.Ghi"></button>
      <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkButton.Xoa"
        (click)="xoa()"></button>
      <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="khongDuyet()"
        *ngIf="checkButton.KhongDuyet"></button>
      <button pButton pRipple type="button" label="Chuyển tiếp" class="p-mr-2 p-button-sm" (click)="chuyenDuyet()"
        *ngIf="checkButton.ChuyenTiep"></button>
    </div>
  </div>

  <div class="p-grid flex-row p-mb-2">
    <div class="p-col-12 p-lg-6 p-p-2 d-flex">
      <label class="p-col-12 p-lg-2 p-p-0 my-auto">Kế hoạch sản lượng <span class="required">*</span>:</label>
      <div class="p-col-12 p-lg-10 p-p-0 my-auto">
        <p-dropdown 
          class="p-inputtext-sm"
          [(ngModel)]="kehoach.IdLapKeHoachSanLuongNam" 
          [options]="listKeHoachDaDuyet" 
          [filter]="true"
          [showClear]="true" 
          placeholder="Chọn kế hoạch" 
          (onChange)="getSanPham()"
        ></p-dropdown>
      </div>
    </div>
    <div class="p-col-12 p-lg-3 p-p-2 d-flex">
      <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tên kế hoạch <span class="required">*</span>:</label>
      <div class="p-col-12 p-lg-8 p-p-0 my-auto">
        <input type="text" class="p-inputtext-sm" [(ngModel)]="kehoach.TenKeHoach" placeholder="Nhập nội dung"
          pInputText />
      </div>
    </div>
    <div class="p-col-12 p-lg-3 p-p-2 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-lg-4 p-p-0 my-auto">Người lập:</label>
      <div class="p-col-12 p-lg-8 p-p-0 my-auto">
        <input type="text" class="p-inputtext-sm"  [(ngModel)]="kehoach.TenNguoiLap" placeholder="Nhập nội dung"
          pInputText readonly />
      </div>
    </div>
    <div class="p-col-12 p-lg-3 p-p-2 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-lg-3 p-p-0 my-auto">Ngày lập:</label>
      <div class="p-col-12 p-lg-9 p-p-0 my-auto">
        <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [monthNavigator]="true" [locale]="lang"
          [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" inputId="icon" [(ngModel)]="kehoach.NgayLap"
          placeholder="dd/mm/yyyy">
        </p-calendar>
      </div>
    </div>
    <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
      <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
      <div class="p-col-12 p-lg-10 p-p-0">
        <textarea class="p-inputtext-sm my-auto" pInputTextarea [(ngModel)]="kehoach.GhiChu"
          placeholder="Nhập ghi chú"></textarea>
      </div>
    </div>
  </div>

  <p-tabView>
    <p-tabPanel header="Bông">
      <app-table-chung
        *ngIf="kehoach.listBong"
        [listName]="'Bong'"
        [kehoach]="kehoach"
      ></app-table-chung>
    </p-tabPanel>
    <p-tabPanel header="Xơ">
      <app-table-chung
        *ngIf="kehoach.listXo"
        [listName]="'Xo'"
        [kehoach]="kehoach"
      ></app-table-chung>
    </p-tabPanel>
    <p-tabPanel header="Điện">
      <app-table-chung
        *ngIf="kehoach.listDien"
        [listName]="'Dien'"
        [kehoach]="kehoach"
      ></app-table-chung>
    </p-tabPanel>
    <p-tabPanel header="Vật tư phụ">
      <app-table-chung
        *ngIf="kehoach.listVatTuPhu"
        [listName]="'VatTuPhu'"
        [kehoach]="kehoach"
      ></app-table-chung>
    </p-tabPanel>
    <p-tabPanel header="Nhân công">
      <app-table-chi-phi-nhan-cong
        *ngIf="kehoach.listNhanCong"
        [kehoach]="kehoach"
        [listLableThang]="listLableThang"
      ></app-table-chi-phi-nhan-cong>
    </p-tabPanel>
    <p-tabPanel header="Khấu hao">
      <app-table-chi-phi-khau-hao
        *ngIf="kehoach.listKhauHao"
        [kehoach]="kehoach"
        [listLableThang]="listLableThang"
        ></app-table-chi-phi-khau-hao>
    </p-tabPanel>
    <p-tabPanel header="Lãi vay">
      <app-table-chung
        *ngIf="kehoach.listLaiVayNganHang"
        [listName]="'LaiVayNganHang'"
        [kehoach]="kehoach"
      ></app-table-chung>
    </p-tabPanel>
    <p-tabPanel header="Bán hàng">
      <app-table-chi-phi-ban-hang
        *ngIf="kehoach.listChiPhiBanHang"
        [kehoach]="kehoach"
        [listLableThang]="listLableThang"
      ></app-table-chi-phi-ban-hang>
    </p-tabPanel>
</p-tabView>
</div>