.navbar{
    padding: 0.5rem 1rem;
    /* background: rgba(0, 0, 0, 0.05); */
    background: white;
    color: rgba(0, 0, 0, 0.9);
    border: 0 none;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
}
:host ::ng-deep .p-menuitem-link-active{
    background-color: #2a53a5 !important; 
    color: white !important;
    border-left:5px solid white;
}

.content{
    background-color: #f3f4f5;
    padding:20px;
    min-height: calc(100vh - 100px) !important;
}
