<div class="p-mb-3 p-mt-3">
    <h4 style="color:#1f2779">Báo cáo ca</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
    <div class="p-d-flex p-flex-row">
        <button pButton pRipple label="Lưu lại" icon="pi pi-plus" class="p-button-sm p-mr-2"
            (click)="setBaoCaoCa()"></button>
    </div>
    <div class="d-flex flex-column flex-lg-row">
        <div class="p-mr-2">
            <p-dropdown [options]="listCaSanXuat" placeholder="Ca sản xuất" styleClass="p-inputtext-sm"
                [(ngModel)]="filter.IddmCaSanXuat" [showClear]="false" (onChange)="getBaoCaoCa()"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-dropdown [options]="listCaSanXuatThucTe" placeholder="Chọn ca sản xuất thực tế"
                styleClass="p-inputtext-sm" [(ngModel)]="filter.IddmCaSanXuatThucTe" [showClear]="false" (onChange)="getBaoCaoCa()"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.NgayChon" inputId="icon" placeholder="Ngày"
                (onSelect)="getBaoCaoCa()">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn phân xưởng"
                [(ngModel)]="filter.IddmPhanXuong" styleClass="p-inputtext-sm"
                (onChange)="getBaoCaoCa()" [showClear]="false" [filter]="true"></p-dropdown>
        </div>
    </div>
</div>
<div>
    <p-tabView>
        <p-tabPanel header="Công đoạn bông chải">
            <ng-template pTemplate="content">
                <app-bongchai-baocaoca [data]="item.itemCongDoan_BongChai"></app-bongchai-baocaoca>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Công đoạn ghép thô">
            <ng-template pTemplate="content">
                <app-gheptho-baocaoca [data]="item.itemCongDoan_GhepTho"></app-gheptho-baocaoca>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Công đoạn máy ống">
            <ng-template pTemplate="content">
                <app-mayong-baocaoca [data]="item.itemCongDoan_Ong"></app-mayong-baocaoca>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Công đoạn sợi con">
            <ng-template pTemplate="content">
                <app-soicon-baocaoca [data]="item.itemCongDoan_Con"></app-soicon-baocaoca>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Thay thô">
            <ng-template pTemplate="content">
                <app-thaytho-baocaoca [data]="item.itemCongDoan_ThayTho"></app-thaytho-baocaoca>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>