<div class="p-mb-3 p-mt-3">
    <h4 style="color:#1f2779">Báo cáo ca</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
    <div class="p-d-flex p-flex-row">
        <button pButton pRipple label="Lưu lại" icon="pi pi-plus" class="p-button-sm p-mr-2"
            (click)="setPhieuThongKeThoiGianDungMay()"></button>
    </div>
    <div class="d-flex flex-column flex-lg-row">
        <div class="p-mr-2">
            <p-dropdown [options]="listCaSanXuat" placeholder="Ca sản xuất" styleClass="p-inputtext-sm"
                [(ngModel)]="filter.IddmCaSanXuat" [showClear]="false"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-dropdown [options]="listCaSanXuatThucTe" placeholder="Chọn ca sản xuất thực tế"
                styleClass="p-inputtext-sm" [(ngModel)]="filter.IddmCaSanXuatThucTe" [showClear]="false"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.NgayChon" inputId="icon" placeholder="Ngày"
                (onSelect)="getPhieuThongKeThoiGianDungMay()">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn phân xưởng"
                [(ngModel)]="filter.IddmPhanXuong" styleClass="p-inputtext-sm"
                (onChange)="getPhieuThongKeThoiGianDungMay()" [showClear]="false" [filter]="true"></p-dropdown>
        </div>
    </div>
</div>
<div>
    <p-tabView>
        <p-tabPanel header="Công đoạn bông chải">
            <ng-template pTemplate="content">
                <div class="p-grid">
                    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
                        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Lao động:</label>
                        <div class="p-col-12 p-lg-8 p-p-0">
                            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoLaoDong" pInputText />
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
                        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổ trưởng:</label>
                        <div class="p-col-12 p-lg-8 p-p-0">
                            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.ToTruong" pInputText />
                        </div>
                    </div>
                    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
                        <label class="p-col-12 p-lg-2 p-p-0 my-auto">Tình hình hoạt động trong ca:</label>
                        <div class="p-col-12 p-lg-10 p-p-0">
                            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Công đoạn ghép thô">
            <ng-template pTemplate="content">
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Công đoạn máy ống">
            <ng-template pTemplate="content">
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Công đoạn sợi con">
            <ng-template pTemplate="content">
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="Thay thô">
            <ng-template pTemplate="content">
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>