<div>
    <app-noi-dung-trao-doi [IdTable]="IdTable" [eAction]="eAction" (traoDoiChange)="HandleTraoDoi($event)">
    </app-noi-dung-trao-doi>

    <div *ngIf="listTraoDoi.length" class="comments p-my-2">
        <div *ngFor="let traodoi of listTraoDoi" class="comment">
            <div class="d-flex">
                <div>
                    <img src="/assets/img/anonymous-user.png" style="width:3rem;border-radius:50%;margin-right:1rem">
                </div>
                <div>
                    <div class="p-d-flex p-mb-1">
                        <h5 style="margin-right:1rem">{{ traodoi.TenNguoiTao }}</h5>
                        <p style="color:#6c757d">
                            {{ traodoi.Created | date:"dd/MM/yyyy hh:mm a" }}
                        </p>
                    </div>
                    <div style="white-space:pre-wrap;margin-bottom:.5rem">
                        {{ traodoi.NoiDungTraoDoi }}
                    </div>
                    <div *ngIf="traodoi.listFileDinhKem.length">
                        <div *ngFor="let file of traodoi.listFileDinhKem">
                            <a [href]="host + file.Link" target="_blank">
                                <i class="pi pi-download"></i>
                                {{ file.FileName }}
                            </a>
                            <button pButton type="button" icon="pi pi-eye"
                                class="p-button-rounded p-button-text p-button-secondary" pTooltip="Xem trước tài liệu"
                                (click)="showViewTraoDoi(file.Id,file.Module)">
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-d-flex p-jc-end">
                <button pButton label="Trả lời" class="p-button-link" (click)="DisplayEvent(traodoi,'reply')">
                </button>
                <button *ngIf="traodoi.listChild.length && traodoi.expanded" pButton label="Thu gọn"
                    class="p-button-link" (click)="DisplayEvent(traodoi,'expanded')">
                </button>
                <button *ngIf="traodoi.listChild.length && !traodoi.expanded" pButton label="Hiện thêm"
                    class="p-button-link" (click)="DisplayEvent(traodoi,'expanded')">
                </button>
                <button pButton [label]="'Tổng số trả lời: ' + (traodoi.listChild?.length || 0)" class="p-button-link">
                </button>

            </div>
            <app-noi-dung-trao-doi *ngIf="traodoi.reply" [IdTable]="IdTable" [eAction]="eAction"
                [IdParent]="traodoi.Id" (traoDoiChange)="HandleTraoDoi($event)">
            </app-noi-dung-trao-doi>

            <ng-container *ngIf="traodoi.listChild.length && traodoi.expanded">
                <div *ngFor="let child of traodoi.listChild"
                    style="background:#f5f5f5;padding:.5rem .5rem .5rem 1.2rem; width: 100%;">
                    <div class="d-flex">
                        <div>
                            <img src="/assets/img/anonymous-user.png"
                                style="width:3rem;border-radius:50%;margin-right:1rem">
                        </div>
                        <div>
                            <div class="p-d-flex">
                                <h5 style="margin-right:1rem">{{ child.TenNguoiTao }}</h5>

                                <p style="color:#6c757d">
                                    {{ child.Created | date:"dd/MM/yyyy hh:mm a" }}
                                </p>
                            </div>
                            <div style="margin-bottom:.5rem">
                                {{ child.NoiDungTraoDoi }}
                            </div>
                            <div *ngIf="child.listFileDinhKem.length">
                                <div *ngFor="let fileChild of child.listFileDinhKem">
                                    <a [href]="host + fileChild.Link" target="_blank">
                                        <i class="pi pi-download"></i>
                                        {{ fileChild.FileName }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div style="border-bottom:1px solid #dee2e6;width:100%"></div>
        </div>

    </div>
</div>