<div class="modal-header">
    <h5 class="modal-title">Lựa chọn vật tư</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
        <div>
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Chấp nhận" class="p-mr-2 p-button-sm "
                (click)="GhiLai()"></button>
        </div>
        <div class="p-d-flex p-flex-row">
            <div class="p-mr-2 p-inputgroup">
                <!-- <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" [(ngModel)]="filter.Keyword" pInputText
                    (keyup.enter)="GetList()" />
                    <button type="button" pButton pRipple icon="pi pi-search"
                    class="p-button-secondary p-button-sm p-button-text" (click)="GetList()"></button>
                <button type="button" pButton pRipple icon="pi pi-refresh"
                    class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button> -->
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="Keyword" (ngModelChange)="seach()" placeholder="Tìm kiếm" />
                    </span>
            </div>
        </div>
    </div>
    <p-table #table [value]="items | filter:Keyword" styleClass="p-treetable p-datatable-striped p-datatable-gridlines" [paginator]="true" [rows]="20">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:50px" class="text-center">
                    <p-checkbox [(ngModel)]="checkedAll" binary="true"
                        (onChange)="checkAll($event)"></p-checkbox>
                </th>
                <th *ngIf="vatTu === 'Thay vat tu'" class="text-center" style="width: 150px;">Mã, tên tài sản</th>
                <th *ngIf="vatTu === 'Thay vat tu'" class="text-center">Mã, tên vật tư</th>
                <th *ngIf="vatTu === 'Nhap vat tu'" class="text-center">Mã</th>
                <th *ngIf="vatTu === 'Nhap vat tu'" class="text-center">Tên</th>
                <th class="text-center">Ghi chú</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td class="text-center">
                    <p-checkbox [(ngModel)]="item.checked" binary="true" inputId="binary" (onChange)="checked()">
                    </p-checkbox>
                </td>
                <td *ngIf="vatTu === 'Thay vat tu'" style="width: 150px;">
                    {{item.MaTenTaiSan}}
                </td>
                <td *ngIf="vatTu === 'Thay vat tu'">
                    {{item.MaTenVatTu}}
                </td>
                <td *ngIf="vatTu === 'Nhap vat tu'" style="width: 150px;">
                    {{item.Ma}}
                </td>
                <td *ngIf="vatTu === 'Nhap vat tu'" >
                    {{item.Ten}}
                </td>
                <td >{{item.GhiChu}}</td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng số bản ghi {{paging.TotalCount}}.<p-paginator #paginator [totalRecords]="paging.TotalCount"
                    [rows]="20" (onPageChange)="changePage($event)"></p-paginator>
            </div>
        </ng-template> -->
        <ng-template pTemplate="paginatorleft">
            Tổng số bản ghi {{(items | filter:Keyword)?.length}}.
        </ng-template>
    </p-table>
</div>
<div class="modal-footer">

</div>