<div class="p-grid" (mouseover)="ChangeData()">
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Mã<span class="required">*</span>:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TaiSan.Ma" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Tên<span class="required">*</span>:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TaiSan.Ten" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Ngày nhập<span class="required">*</span>:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-calendar inputStyleClass="p-inputtext-sm" [locale]="lang" dateFormat="dd/mm/yy"
                [yearNavigator]="true" [yearRange]="yearRange" [(ngModel)]="item.TaiSan.NgayNhap"
                placeholder="dd/mm/yyyy">
            </p-calendar>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Thời gian sử dụng<span class="required">*</span>:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.TaiSan.ThoiGianSuDung">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Loại tài sản:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-dropdown [filter]="true" [options]="listLoaiTaiSan" placeholder="Chọn loại tài sản"
                styleClass="p-inputtext-sm" [(ngModel)]="item.TaiSan.IddmLoaiTaiSan"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Đơn vị tính:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-dropdown [filter]="true" [options]="listDonVi" placeholder="Chọn đơn vị tính"
                styleClass="p-inputtext-sm" [(ngModel)]="item.TaiSan.IddmDonViTinh"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Tình trạng:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-dropdown [filter]="true" [options]="listDonVi" placeholder="Chọn tình trạng"
                styleClass="p-inputtext-sm" [(ngModel)]="item.TaiSan.IddmTinhTrang"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Nhà sản xuất:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-dropdown [filter]="true" [options]="listNhaSanXuat" placeholder="Chọn nhà sản xuất"
                styleClass="p-inputtext-sm" [(ngModel)]="item.TaiSan.IddmNhaSanXuat"></p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Số seri<span class="required">*</span>:</label>
        <div class="p-col-12 p-xl-3 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TaiSan.SoSeri" pInputText />
        </div>
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Số lượng:</label>
        <div class="p-col-12 p-xl-3 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.TaiSan.SoLuong">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Số lượng còn:</label>
        <div class="p-col-12 p-xl-3 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.TaiSan.SoLuongCon">
            </p-inputNumber>
        </div>
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Nguyên giá:</label>
        <div class="p-col-12 p-xl-3 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.TaiSan.NguyenGia">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Giá trị còn lại:</label>
        <div class="p-col-12 p-xl-3 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.TaiSan.GiaTriConLai">
            </p-inputNumber>
        </div>
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Giá trị thanh lý:</label>
        <div class="p-col-12 p-xl-3 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.TaiSan.GiaTriThanhLy">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Nước sản xuất:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TaiSan.NuocSanXuat" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-3 p-p-0 my-auto">Ngày sản xuất:</label>
        <div class="p-col-12 p-xl-9 p-p-0">
            <p-calendar inputStyleClass="p-inputtext-sm" [locale]="lang" dateFormat="dd/mm/yy"
                [yearNavigator]="true" [yearRange]="yearRange" [(ngModel)]="item.TaiSan.NgaySanXuat"
                placeholder="dd/mm/yyyy">
            </p-calendar>
        </div>
    </div>
    <div class="p-col-12 p-lg-9 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-1 p-p-0 my-auto">Nội dung:</label>
        <div class="p-col-12 p-xl-11 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TaiSan.NoiDung" pInputText />
        </div>
    </div>     
    <div class="p-col-12 p-lg-9 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-1 p-p-0 my-auto">Ghi chú:</label>
        <div class="p-col-12 p-xl-11 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TaiSan.GhiChu" pInputText />
        </div>
    </div>        

    <div class="p-col-12 p-lg-3 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-3 p-p-0 my-auto">Tài liệu đính kèm:</label>
        <div class="p-col-12 p-lg-9 p-p-0">
            <div class="p-inputgroup">
                <input type="file" ng2FileSelect [uploader]="item.TaiSan.listFileDinhKem" />
            </div>
        </div>
    </div>
</div>