
<div class="d-flex justify-content-end p-mb-3">
    <strong style="color: #007bff;">Tổng giá trị: <span style="color: red;">{{TongGiaTriToanBang | number:'0.0-0'}} (VNĐ)</span></strong>
</div>
<p-table [value]="items" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 50px;">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">
                STT
            </th>
            <th class="text-center ">Mã</th>
            <th class="text-center">Tên</th>
            <th class="text-center">Số lượng </th>
            <th class="text-center ">Đơn giá (VNĐ)</th>
            <th class="text-center ">Thành tiền (VNĐ)</th>
            <th class="text-center ">Ghi chú</th>
            <th class="text-center">Thao tác</th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class=" text-center">{{i+1}}</td>
            <td>{{item.MaTaiSan}}</td>
            <td>{{item.TenTaiSan}}</td>
            <td class=" text-right"></td>
            <td class=" text-right"></td>
            <td class=" text-right">{{item.TongThanhTien | number:'0.0-0'}}</td>
            <td class=""></td>
            <td class="text-center">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-sm "
                    (click)="LuaChonVatTu(item)"></button>
            </td>
        </tr>
        <ng-container *ngFor="let vattu of item.listVatTu; let a = index">
            <tr>
                <td class="text-center">
                    {{i + 1 + '.' + (a+1)}}
                </td>
                <td style="padding-left: 50px;"> {{vattu.MaVatTu}}</td>
                <td style="padding-left: 50px;">{{vattu.TenVatTu}}</td>
                <td class=" text-right">
                    <!-- <p-inputNumber [minFractionDigits]="0.0" [(ngModel)]="vattu.SoLuong" (onBlur)="TinhTong()">
                    </p-inputNumber> -->
                    <!-- <input min='0' mode="decimal" type="number" class="p-inputtext-sm" [(ngModel)]="item.ThuTu"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                        pInputText> -->
                    <p-inputNumber min='0' [(ngModel)]="vattu.SoLuong" (onBlur)="sumItem(item)" mode="decimal" locale="en-US"></p-inputNumber>
                </td>
                <td class=" text-right">
                    <p-inputNumber inputId="locale-us" mode="decimal" (onBlur)="sumItem(item)" min='0' locale="en-US" styleClass="p-inputtext-sm"
                        [(ngModel)]="vattu.GiaTri">
                    </p-inputNumber>
                </td>
                <td class=" text-right">{{vattu.ThanhTien | number:'0.0-0'}}</td>
                <td class=" text-left"><input type="text" class="p-inputtext-sm" [(ngModel)]="vattu.GhiChu"
                        [ngbTooltip]="vattu.GhiChu" pInputText /> </td>
                <td class="text-center">
                    <button pButton pRipple icon="pi pi-trash"
                        class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2" (click)="delete(a, item)"
                        pTooltip="Xóa" showDelay="1000" tooltipPosition="bottom"></button>
                </td>
            </tr>
        </ng-container>

    </ng-template>
</p-table>