.tc-w-150 {
  max-width: 150px !important;
  min-width: 150px !important;
}
.tc-w-100{
  max-width: 100px !important;
  min-width: 100px !important;
}
.tc-w-50 {
  max-width: 50px !important;
  min-width: 50px !important;
}
.tc-w-250 {
  max-width: 250px !important;
  min-width: 250px !important;
}
.tc-w-200 {
  max-width: 200px !important;
  min-width: 200px !important;
}
.idx2 {
    z-index: 2;
}
