         <div class=" bg-white p-p-3">
                <div class="p-mb-3 p-mt-3">
                    <h4 style="color:#1f2779">Chi phí vật tư</h4>
                </div>
                <div class="d-flex justify-content-end p-mb-3">
                    <strong>Tổng giá trị: {{tongGiaTriVatTu | number:"0.0-0"}} (VNĐ)</strong>
                </div>
                <div class="p-mt-3">
                    <p-table [value]="listVatTu"
                        styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                        <ng-template pTemplate="colgroup">
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center" style="width: 50px;">STT</th>
                                <th class="text-center">Mã vật tư</th>
                                <th class="text-center">Tên vật tư</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Đơn giá</th>
                                <th class="text-center">Thành tiền</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td class="text-center"> {{ 20 * (paging.CurrentPage - 1) + i + 1 }}</td>
                                <td class="text-center">{{item.Ma}}</td>
                                <td class="text-center">{{item.TenTaiSan}} </td>
                                <td class="text-center">{{item.SoLuong | number:"0.0-0"}}</td>
                                <td class="text-right">{{item.DonGia | number:"0.0-0"}}</td>
                                <td class="text-right">{{item.ThanhTien | number:"0.0-0"}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Tổng số bản ghi {{paging.TotalCount}}.<p-paginator #paginator
                                    [totalRecords]="paging.TotalCount" [rows]="20" (onPageChange)="changePage($event)">
                                </p-paginator>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
    
