.city {
    padding-left: .2rem;
}
label {
    display: inline-block;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
}
.tan {
    padding-top: .5rem;
}
.check-pt {
    padding-top: 8px;
}
::ng-deep .p-calendar {
   width: 100px;
}

::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
    text-decoration: none;
}