<div class="p-mb-3 p-mt-3">
    <h4 style="color:#1f2779">Thống kê thời gian dừng máy</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
    <div class="p-d-flex p-flex-row">
        <button pButton pRipple label="Lưu lại" icon="pi pi-plus" class="p-button-sm p-mr-2"
            (click)="setPhieuThongKeThoiGianDungMay()"></button>
    </div>
    <div class="d-flex flex-column flex-lg-row">
        <div class="p-mr-2">
            <p-dropdown [options]="listCongDoan" placeholder="Chọn công đoạn" styleClass="p-inputtext-sm"
                [(ngModel)]="filter.MaCongDoan" [showClear]="true"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.NgayChon" inputId="icon" placeholder="Ngày" (onSelect)="getPhieuThongKeThoiGianDungMay()">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn phân xưởng"
                [(ngModel)]="filter.IddmPhanXuong" styleClass="p-inputtext-sm" (onChange)="getPhieuThongKeThoiGianDungMay()" [showClear]="true"
                [filter]="true"></p-dropdown>
        </div>
    </div>
</div>
<div>
    <div class="p-col-12 p-p-0 pintable-container" style="height: 90vh; background-color: #fff;" voiPintable
        [pinnedCols]="2">
        <table style="table-layout: fixed;">
            <thead>
                <tr>
                    <th class="w-tc-50" >STT</th>
                    <th class="w-tc-250" >Máy</th>
                    <th *ngFor="let suco of item.lstdmSuCoMay" class="w-tc-100">{{suco.Ten}}</th>
                    <th class="w-tc-150">Tổng thời gian dừng</th>
                    <th class="w-tc-150">Tốc độ max</th>
                    <th class="w-tc-150">Tốc độ trung bình</th>
                    <th class="w-tc-150">Chênh lệch</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let may of item.lstMay;let i = index">
                    <td class="w-tc-50 bg-white text-center z-100">{{i+1}}</td>
                    <td class="w-tc-250 bg-white z-100" >{{may.TendmMay}}</td>
                    <td class="w-tc-100" *ngFor="let suco of may.lstSuCoDungMay | filterByKey:'MaCongDoan':filter.MaCongDoan">
                        <p-inputNumber [minFractionDigits]="1" [maxFractionDigits]="1"styleClass="p-inputtext-sm"
                            [(ngModel)]="suco.ThoiGianDungMay" (onBlur)="TinhTong(may)" >
                        </p-inputNumber>
                    </td>
                    <td class="w-tc-150">
                        <p-inputNumber [minFractionDigits]="1" [maxFractionDigits]="1" disabled="true" styleClass="p-inputtext-sm"
                            [ngModel]="may.TongThoiGianDungMay" >
                        </p-inputNumber>
                    </td>
                    <td class="w-tc-150">
                        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="0"styleClass="p-inputtext-sm"
                            [(ngModel)]="may.TocDoMax" >
                        </p-inputNumber>
                    </td>
                    <td class="w-tc-150">
                        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="0"styleClass="p-inputtext-sm"
                            [(ngModel)]="may.TocDoTrungBinh" >
                        </p-inputNumber>
                    </td>
                    <td class="w-tc-150">
                        <p-inputNumber [minFractionDigits]="0" [maxFractionDigits]="0"styleClass="p-inputtext-sm"
                            [ngModel]="may.TocDoMax-may.TocDoTrungBinh" disabled="true" >
                        </p-inputNumber>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>