<div class="modal-header">
    <h5 class="modal-title">Kế hoạch bố trí máy sản xuất: {{item.Ten}} Từ ngày:{{item.TuNgay|date:'dd/MM/yyyy'}} Đến
        ngày:{{item.DenNgay|date:'dd/MM/yyyy'}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <div>
                    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <div *ngFor="let item of listChuThich1" class="d-flex flex-row">
                            <div [ngStyle]="{'background-color': item.color}" class="legend-CT"></div>
                            <span>{{item.GhiChu}}</span>
                        </div>
                    </div>
                    <div >
                        <div *ngFor="let item of listChuThich2" class="d-flex flex-row">
                            <div [ngStyle]="{'background-color': item.color}" class="legend-CT"></div>
                            <span>{{item.GhiChu}}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="p-inputgroup">
                        <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText
                            [(ngModel)]="filter.KeyWord" />
                        <button type="button" pButton pRipple icon="pi pi-refresh"
                            class="p-button-secondary p-button-sm p-button-text" (click)="chonThuaDat()"></button>
                    </div>
                </div>
            </div>
            <table class="table table-sm table-bordered">
                <colgroup>
                </colgroup>
                <thead>
                    <tr>
                        <th>Công đoạn</th>
                        <th>Máy</th>
                        <th>Chi số</th>
                        <th>Loại sợi</th>
                        <th *ngFor="let date of listDate">{{date.header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let congDoan of listCongDoan">
                        <tr>
                            <td> <a href="javascript:void(0)"
                                    (click)="collapseCongDoan(congDoan)">{{congDoan.Ten}}</a></td>
                            <td colspan="2">
                                <!-- <a href="javascript:void(0)"
                                    (click)="chonMayTheoCongDoan(congDoan.CongDoan)">Chọn máy</a> -->
                            </td>
                            <td></td>
                        </tr>
                        <ng-container *ngIf="congDoan.show">
                            <tr *ngFor="let may of item.listItemTemp[congDoan.Ma]">
                                <td></td>
                                <td>
                                    <p-checkbox [(ngModel)]="may.checked"
                                        (onChange)="checkMay(congDoan.Ma,may.prop,$event)" binary="true"
                                        inputId="binary"></p-checkbox>
                                    <!-- {{PoolMaySanXuat[congDoan.CongDoan][may.prop].Ma}} - -->
                                    {{PoolMaySanXuat[congDoan.Ma][may.prop].Ten}}
                                </td>
                                <td>
                                    <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="may.ChiSo">
                                    </p-inputNumber>
                                </td>
                                <td>
                                    {{may.MadmLoaiSoi}}
                                </td>
                                <td *ngFor="let date of listDate" style="padding:0px;height: 1px;">
                                    <app-trangthaimaysanxuat
                                        [(ngModel)]="PoolMaySanXuat[congDoan.CongDoan][may.prop][date.prop]"
                                        [IdMatHang]="item.IddmItem">
                                    </app-trangthaimaysanxuat>
                                    <!-- {{PoolMaySanXuat[congDoan.CongDoan][may.prop][date.prop].TinhTrang}} -->
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
            <!-- <p-table [value]="listCongDoan"
                styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col style="width: 100px;">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Công đoạn</th>
                        <th>Máy</th>
                        <th>Chi số</th>
                        <th>Loại sợi</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-congDoan let-i="rowIndex">
                    <tr>
                        <td>{{congDoan.TenCongDoan}}</td>
                        <td colspan="2"> <a href="javascript:void(0)" (click)="chonMayTheoCongDoan(congDoan.CongDoan)">Chọn máy</a></td>
                        <td></td>
                    </tr>
                    <tr *ngFor="let may of item.listItems">
                        <td></td>
                        <td>{{may.Ten}}</td>
                        <td>{{may.ChiSo}}</td>
                        <td>{{may.Loai}}</td>
                    </tr>
                </ng-template>
            </p-table> -->
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>