<div class="p-mb-3 p-mt-3">
  <h4 style="color:#1f2779">Thiết lập lương tháng</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between p-mb-3">
  <button pButton label="Lưu" icon="pi pi-save" class="p-button-sm p-mr-2" (click)="save()"></button>
  <div class="d-flex p-ai-center">
    <label class="p-m-0">Chọn nhà máy</label>
    <p-dropdown class="p-ml-2" [(ngModel)]="idDuAn" [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy"
          [showClear]="true" styleClass="p-inputtext-sm" (onChange)="initData()"></p-dropdown>
  </div>
</div>
<div>
  <p-table [value]="listDanhMuc" styleClass="p-datatable-gridlines p-datatable-sm  p-datatable-striped">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 50px;">
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Tên chi phí</th>
            <th class="text-center">Số lượng lao động</th>
            <th class="text-center">Hệ số lương cơ bản</th>
            <th class="text-center">Phụ cấp</th>
            <th class="text-center">Lao động gián tiếp</th>
            <th class="text-center">Đơn vị tính</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
          <td class="text-center">{{i+1}}</td>
          <td>
            <input type="text" pInputText [(ngModel)]="item.Ten" placeholder="Nhập tên chi phí"/>
          </td>
          <td>
            <input type="text" pInputText [(ngModel)]="item.SoLuong" placeholder="Nhập số lượng lao động"/>
          </td>
          <td>
            <input type="text" pInputText [(ngModel)]="item.HeSoLCB" placeholder="Nhập hệ số lương cơ bản"/>
          </td>
          <td>
            <input type="text" pInputText [(ngModel)]="item.PhuCap" placeholder="Nhập phụ cấp"/>
          </td>
          <td  class="text-center">
            <p-checkbox [(ngModel)]="item.isLaoDongGianTiep" [binary]="true"></p-checkbox>
          </td>
          <td>
            <input type="text" pInputText [(ngModel)]="item.DonViTinh" placeholder="ĐVT"/>
          </td>
        </tr>
    </ng-template>
</p-table>
</div>
