<div class="list-danh-sach">
    <header>
        <h3 class="title">Tài liệu đính kèm</h3>
        <span class="pc-upload" (click)="taiLenFileDinhKem()">
            <p>Tải lên từ máy tính</p>
        </span>
        <!-- <span class="self-upload">
            <a>
                Tải lên từ tủ hồ sơ
            </a>
        </span> -->
    </header>
    <div class="p-px-3">
        <p-table [columns]="cols" [value]="item.listFileDinhKem" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 50px">STT</th>
                    <th>Tên tài liệu</th>
                    <th style="width: 100px">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tailieu let-columns="columns" let-i="rowIndex">
                <tr>
                    <td class="text-center">{{i+1}}</td>
                    <td><a [href]="API + '/' + tailieu.Link">{{tailieu.FileName}}</a></td>
                    <td class="text-center">
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="deleteTaiLieu(i)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>