<div class="p-mb-3 p-mt-3">
    <h4 style="color:#1f2779">Cân đối dây chuyền</h4>
</div>
<div class="p-d-flex p-ai-center p-jc-between">
    <div class="p-d-flex flex-column flex-lg-row p-pl-3">
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter._tuNgay" inputId="icon" placeholder="Từ ngày" (onSelect)="GetCalendar()">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter._denNgay" inputId="icon" placeholder="Đến ngày" (onSelect)="GetCalendar()">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn phân xưởng"
                styleClass="p-inputtext-sm" [(ngModel)]="filter.IddmPhanXuong"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listCongDoan" placeholder="Chọn công đoạn"
                styleClass="p-inputtext-sm" [(ngModel)]="filter.CongDoan"></p-dropdown>
        </div>
    </div>
</div>
<ul style="margin-top: 10px;">
    <li class="days" *ngFor="let day of listDays"> {{day}} </li>
    <li *ngFor="let date of listDates" [ngClass]="{'dates': date.header!=='none','none':date.header==='none'}" (click)="boTriMay(date)">
        <!-- {{date.value | date:'d'}} -->
        <div style="font-weight: bold;">
            {{date.header}}
        </div>
        <div *ngIf="date.header==='none'" style="height: 20px;width: 100%; position: absolute;z-index: 2;top:0"></div>
        <div *ngIf="date.header!=='none'" style="width: 99%;">
            <p><ngb-progressbar type="info" [value]="10"><b>4/10</b></ngb-progressbar></p>
        </div>
        <div *ngIf="date.header!=='none'" style="width: 100%; text-align: center">Cần bố trí: <span class="required">3</span></div>
    </li>
</ul>