::ng-deep .p-selectbutton .p-button.p-highlight {
    background: #3c8de4;
    background-color: #3c8de4;
}
::ng-deep .p-selectbutton .p-button {
    background: white;
    background-color: white;
    color: #3c8de4;
}
::ng-deep .p-selectbutton .p-button:not(.p-highlight):hover{
    background: #3c8de4 !important;
    background-color: #3c8de4 !important;
    color: white !important;
}

::ng-deep .p-selectbutton .p-button.p-highlight:hover {
    background-color: #3c8de4;
}
::ng-deep .p-selectbutton *{
    border-color: #3c8de4 !important;
}

::ng-deep .p-treetable .p-treetable-tbody > tr > td {
    padding: 0.1rem 0.5rem;
    border: 1px solid #e9ecef;
  }
  ::ng-deep .p-treetable .p-treetable-thead > tr > th {
    padding: 0.1rem 0.5rem;
    border: 1px solid #e9ecef;
  }