<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-grid">
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Mã<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ma" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tên<span class="text-danger">*</span>:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ten" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Đơn vị:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ten" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-d-flex p-flex-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Dung sai cho phép:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listdungsai" placeholder="Chọn" [(ngModel)]="item.idNhaMay"
                styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <p-table [value]="items" [(selection)]="selectedItems" styleClass="p-datatable-sm wrap-text p-datatable-striped" [scrollable]="true">
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <!-- <col style="width:50px"> -->                   
                    <col *ngFor="let col of cols" [ngStyle]="{width:col.width}">                    
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->                    
                    <th *ngFor="let header of cols">
                        {{header.header}}
                    </th>  
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr>                
                    <td *ngFor="let col of cols">
                        {{item[col.field]}}
                    </td>                  
                </tr>
            </ng-template>           
        </p-table>
    </div>
</div>
<div class="modal-footer">
    <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()" [disabled]="khongclicknhieu"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button>
</div>