<div class="p-d-flex p-flex-row p-jc-end p-grid flex-d">
    <div class="modal-bt p-mb-4 p-col-12 p-lg-2  p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto"> </label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <strong>Tổng giá trị: <span style="color: red;">{{TongGiaTriToanBang | number:'0.0-0'}} (VNĐ)</span></strong>
        </div>
    </div>
</div>
  <div class="p-col-12 p-p-0 pintable-container" style="height: 45vh;" voiPintable [pinnedCols]="2">
    <table>
        <thead>
            <tr>
                <th class="tc-w-300 text-center" style="z-index: 999;">Tài sản/vật tư</th>
                <th class="tc-w-100 text-center"style="z-index: 999;"></th>
                <th *ngFor="let label of labelThang" class="tc-w-300"> {{label}}</th>
                <th class="tc-w-300 text-center">Tổng tiền (VNĐ)</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of listTaiSan; let i = index">
                <tr> 
                    <td class="tc-w-300 p-2" style="font-weight: bold; background-color: white;z-index: 999; "> {{item.TenTaiSan}} </td>
                    <td class="tc-w-100 p-2" style="font-weight: bold; background-color: white;z-index: 999; "></td>
                    <td class="text-right tc-w-300 p-2" *ngFor=" let thanhtien of item.TongThanhTien; let i=index"  style="font-weight: bold;" > 
                        <div>
                            {{thanhtien | number:'0.0-0'}}
                        </div>
                    </td>
                    <td  class="tc-w-300 text-right p-2">
                        {{ item.TongGiaTri | number:'0.0-0'}}
                    </td>
                </tr>
                <tr *ngFor="let vattu of item.listVatTu">
                    <td class="tc-w-300 p-2"  style="background-color: white;z-index: 999; "> {{vattu.TenTenSan}} ({{vattu.DonVi}})</td>
                    <td class="tc-w-100 p-2" style="font-weight: bold; background-color: white;z-index: 999; ">
                        <div style="padding: 6.125px 0px;">
                            <span>Số lượng:</span>
                        </div>
                        <div style="padding: 6.125px 0px;">
                            <span>Đơn giá:</span>
                        </div>
                    </td>
                    <td *ngFor="let ThoiGianVatTu of vattu.listThoiGian" class="tc-w-300 text-right "> 
                        <div class=" tc-w-270 p-2" style="align-items: center; margin-left: 30px;"> 
                            <p-inputNumber inputId="locale-us" mode="decimal"  locale="en-US" styleClass="p-inputtext-sm"
                                [(ngModel)]="ThoiGianVatTu.SoLuong" (onBlur)="tongTien(item)" [disabled]="!ThoiGianVatTu.canInput">
                            </p-inputNumber>
                        </div>
                        <div class="tc-w-270 p-2" style="align-items: center;  margin-left: 30px;">
                            <p-inputNumber inputId="locale-us" mode="decimal" locale="en-US" styleClass="p-inputtext-sm" (onBlur)="tongTien(item)" [disabled]="!ThoiGianVatTu.canInput"
                                [(ngModel)]="ThoiGianVatTu.DonGia">
                            </p-inputNumber>
                        </div>
                    </td>
                    <td class="tc-w-300 text-right"> {{ vattu.ThanhTien12Thang | number:'0.0-0'}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>