<div class="p-d-flex p-flex-row p-jc-end p-grid flex-d">
    <div class="modal-bt p-mb-4 p-col-12 p-lg-2  p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto"> </label>
        <div class="p-col-12 p-lg-8 p-p-0">
            Tổng giá trị: {{TongGiaTriToanBang}}
        </div>
    </div>
</div>
<table class="table table-bordered" >

    <!-- <colgroup>
        <col style="width:200px">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
        <col>
    </colgroup> -->
    <thead>
        <tr style="background-color: #828282;color:white ">
            <th style="width:200px" class="text-center">Tài sản/vật tư</th>
            <th class="text-center">Tháng 1</th>
            <th class="text-center">Tháng 2</th>
            <th class="text-center">Tháng 3</th>
            <th class="text-center">Tháng 4</th>
            <th class="text-center">Tháng 5</th>
            <th class="text-center">Tháng 6</th>
            <th class="text-center">Tháng 7</th>
            <th class="text-center">Tháng 8</th>
            <th class="text-center">Tháng 9</th>
            <th class="text-center">Tháng 10</th>
            <th class="text-center">Tháng 11</th>
            <th class="text-center">Tháng 12</th>
            <th class="text-center">Tổng số</th>
        </tr>
    </thead>
    <tbody >
        <ng-container *ngFor="let item of items; let i = index">
        <tr>
            <td style="width:200px" style="width:200px" class="text-right"> {{item.TenTaiSan}}</td>
            <td class="text-right" *ngFor=" let thanhtien of item.TongThanhTien"> {{thanhtien}} </td>
            <td>{{ item.TongGiaTri}}</td>
        </tr>
        <tr *ngFor="let vattu of item.listVatTu">
            <td style="width:200px"> {{vattu.Ngay | date:'dd/MM/yyyy'}}</td>
            <td *ngFor="let ThoiGian of vattu.listThoiGian">
                <div class="d-flex" style="align-items: center;">
                    <span >SL:</span>
                    <p-inputNumber [minFractionDigits]="0" styleClass="p-inputtext-sm" [(ngModel)]="ThoiGian.DonGia"
                    (onBlur)="tongTien(item)">
                </p-inputNumber>
                </div>
                <div  class="d-flex" style="align-items: center;">
                    <span>ĐG:</span>
                    <p-inputNumber [minFractionDigits]="0" styleClass="p-inputtext-sm" (onBlur)="tongTien(item)"
                    [(ngModel)]="ThoiGian.SoLuong">
                </p-inputNumber>
                </div>
            </td>
            <td> {{ vattu.ThanhTien12Thang}}</td>
        </tr>
        </ng-container>
    </tbody>
</table>