.tw-100 {
  width: 100px;
}

.tw-800 {
  width: 800px;
}

.my-sticky-table tr:first-child {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

.sticky-col-1 {
  position: sticky;
  left: 0;
  z-index: 1;
  background: white;
}
