<div class="p-grid">
    <!-- Row 1 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Loại máy/thiết bị <span class="text-danger">(*)</span> :
        </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-dropdown [filter]="true" [options]="listLoaiTaiSan" (onChange)="LayMa($event)"
                placeholder="Chọn loại máy/thiết bị" [(ngModel)]="item.IddmLoaiTaiSan" [showClear]="true"
                appendTo="body">
            </p-dropdown>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Mã máy/thiết bị <span class="text-danger">(*)</span> :
        </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ma" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-none d-lg-block"></div>

    <!-- Row 2 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Nhóm máy/thiết bị/vật tư : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0 d-flex">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TendmTaiSan" pInputText disabled />
            <button pButton pRipple icon="pi pi-plus" class="p-button-sm p-mr-2" (click)="ChonTaiSan()"></button>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Tên máy/thiết bị <span class="text-danger">(*)</span> :
        </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Ten" placeholder="Nhập tên máy/thiết bị"
                pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Số lượng : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-inputNumber [min]="1" [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.SoLuong">
            </p-inputNumber>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Model : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.Modem" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Số seri : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoSeri" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Đơn vị <span class="text-danger">(*)</span> : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.DonViNangSuat" pInputText />
        </div>
    </div>

    <!-- Row 4 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Nước sản xuất : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.NuocSanXuat" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Hãng sản xuất : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.HangSanXuat" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Nhà cung cấp : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-dropdown [filter]="true" [options]="listCungSanXuat" placeholder="Nhập nhà cung cấp"
                [(ngModel)]="item.IddmNhaCungUng" [showClear]="true" appendTo="body"></p-dropdown>
        </div>
    </div>

    <!-- Row 5 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Ngày sản xuất : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [monthNavigator]="true"
                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="item.NgaySanXuat"
                inputId="icon" placeholder="dd/mm/yyyy" appendTo="body">
            </p-calendar>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Số năm khấu hao <span class="text-danger">(*)</span> :
        </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-inputNumber [minFractionDigits]="0" [min]="0" locale="en-EN" [(ngModel)]="item.SoNamKhauHao"
                mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="1"> </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Nguyên giá (VNĐ) : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-inputNumber [minFractionDigits]="0" mode="decimal" locale="en-EN" [min]="0" [(ngModel)]="item.NguyenGia"
                (onBlur)="edit(item)">
            </p-inputNumber>
        </div>
    </div>

    <!-- Row 6 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Giá trị còn lại (VNĐ) : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-inputNumber [minFractionDigits]="0" locale="en-EN" [min]="0" [(ngModel)]="item.GiaTriConLai">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Bộ phận sử dụng : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <app-select-bo-phan [(ngModel)]="item.IdBoPhanSuDung" (onChange)="chonBoPhan($event)"
                [options]="listPhanXuong" placeholder="Chọn bộ phận sử dụng"></app-select-bo-phan>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Tên viết tắt <span class="text-danger">(*)</span> :
        </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TenVietTat" pInputText />
        </div>
    </div>

    <!-- Row 7 -->
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <div class="p-field-checkbox p-col-12 p-xl-6 p-p-0 my-auto d-flex p-ai-center">
            <p-checkbox binary="true" [(ngModel)]="item.isGiaTriCao"></p-checkbox>
            <label class="p-mb-0 p-ml-2">Giá trị cao</label>
        </div>
        <div class="p-field-checkbox p-col-12 p-xl-6 p-p-0 my-auto d-flex p-ai-center">
            <p-checkbox (onClick)="isCanDuTru()" binary="true" [(ngModel)]="item.isCanDuTru"></p-checkbox>
            <label class="p-mb-0 p-ml-2">Cần dự trữ <span class="required text-danger"
                    *ngIf="item.isCanDuTru">(*)</span></label>
        </div>
        <div *ngIf="item.isCanDuTru" class="p-col-12 p-xl-12 p-p-0 my-auto p-mt-2">
            <p-inputNumber [minFractionDigits]="0" [min]="0" locale="en-EN" [(ngModel)]="item.DuTruToiThieu"
                placeholder="Dự trữ tối thiểu">
            </p-inputNumber>
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Ghi chú : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-2 d-flex flex-column flex-xl-row" *ngIf="item.IdBoPhanSuDung">
        <label class="p-col-12 p-xl-4 p-lg-12 p-p-0 my-auto">Thời gian đưa vào sử dụng <span class="text-danger">(*)</span> : </label>
        <div class="p-col-12 p-xl-8 p-lg-12 p-p-0">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [monthNavigator]="true"
                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="item.ThoiGianDuaVaoSuDung"
                inputId="icon" placeholder="dd/mm/yyyy" appendTo="body">
            </p-calendar>
        </div>
    </div>
</div>