.tc-w-151 {
  min-width: 151px !important;
  max-width: 151px !important;
  padding: 8px 0;
}
.tc-w-200 {
  min-width: 200px !important;
  max-width: 200px !important;
  padding: 8px 0;
}
.tc-w-121 {
  min-width: 121px !important;
  max-width: 121px !important;
  padding: 8px 0;
}

.tc-w-120 {
  min-width: 120px !important;
  max-width: 120px !important;
  padding: 8px;
}

.tc-w-100 {
  min-width: 100px !important;
  max-width: 100px !important;
  padding: 8px 0;
}

.tc-w-140 {
  min-width: 140px !important;
  max-width: 140px !important;
  padding: 8px;
}
.VuotQuaNangLuc {
  background-color: red !important;
}

.tc-w-278 {
  min-width: 278px !important;
  max-width: 278px !important;
  padding: 8px 0;
}

.tc-w-80 {
  min-width: 80px !important;
  max-width: 80px !important;
  padding: 8px 4px;
}

.tc-w-430 {
  min-width: 430px !important;
  max-width: 430px !important;
  padding: 8px 0;
}

.text-link {
  color: rgb(87, 148, 255);
  cursor: pointer;
}

td {
  background-color: #fff;
}