<div class="modal-header">
    <h5 style="color:#1f2779" class="modal-title text-uppercase">quy trình giao kế hoạch sản xuất</h5>
    <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
          <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
          <div class="p-col-12 p-lg-8 p-p-0">
              <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                  [(ngModel)]="data.NhaMay"></p-dropdown>
          </div>
      </div> -->
    <div class="d-flex flex-column flex-lg-row">
        <div>
            <span style="font-weight: bold;">Số phiếu:</span>
        </div>
        <div class="ml-lg-3 mr-lg-3">
            <span style="font-weight: bold;">TG Tạo:</span>
        </div>
        <div>
            <span style="font-weight: bold;">TG Duyệt:</span>
        </div>
    </div>
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm" (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm " (click)="GhiLai()" *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa" (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()" *ngIf="checkbutton.KhongDuyet"></button>




        </div>



    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Nội dung <span class="required">*</span></label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input type="text" [(ngModel)]="data.lyDoKhongDuyet" class="p-inputtext-sm" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-3 p-xl-2 p-p-0 my-auto">Nhà máy: <span class="required">*</span></label>
            <div class="p-col-12 p-xl-10 p-lg-9 p-p-0">
                <p-dropdown [filter]="true" [options]="listHopDong" placeholder="Chọn nhà máy" [(ngModel)]="data.idHopDong" styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-3 p-xl-2 p-p-0 my-auto">Phân xưởng: </label>
            <div class="p-col-12 p-xl-10 p-lg-9 p-p-0">
                <p-dropdown [filter]="true" [options]="listHopDong" placeholder="Chọn phân xưởng" [(ngModel)]="data.idHopDong" styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12  p-lg-6 p-p-3 d-flex flex-column flex-lg-row">

            <label class="p-col-12 p-lg-2 p-xl-3 p-p-0 my-auto">Từ ngày</label>
            <div class="p-col-12 p-lg-4  p-xl-3 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="data.ngayPhatHanh" inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>
            <label class="p-col-12 p-lg-2 p-xl-3 p-p-0 my-auto">Đến ngày</label>
            <div class="p-col-12 p-lg-4  p-xl-3 p-p-0">
                <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [locale]="lang" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="data.ngayPhatHanh" inputId="icon" placeholder="dd/mm/yyyy">
                </p-calendar>
            </div>


        </div>
        <div class="p-col-12 p-p-3 p-xl-6 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-xl-2 p-lg-1 p-p-0 my-auto">Tổng số ca</label>
            <div class="p-col-12 p-xl-4 p-lg-5 p-p-0">

                <p-inputNumber #inputNumber [(ngModel)]="data.giaTri" [minFractionDigits]="0" locale="vi-VN">
                </p-inputNumber>

            </div>


            <label class="p-col-12 p-lg-1 p-xl-2 p-p-0 my-auto">Chỉ số BQ</label>
            <div class="p-col-12 p-xl-4 p-lg-5 p-p-0">

                <p-inputNumber #inputNumber [(ngModel)]="data.giaTri" [minFractionDigits]="0" locale="vi-VN">
                </p-inputNumber>

            </div>
        </div>
        <div class="p-col-12 p-p-3 p-xl-6 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-xl-3 p-p-0 my-auto">Ne bình quân 30(Tấn/ca)</label>
            <div class="p-col-12 p-xl-3 p-lg-4 p-p-0">

                <p-inputNumber #inputNumber [(ngModel)]="data.giaTri" [minFractionDigits]="0" locale="vi-VN">
                </p-inputNumber>

            </div>


            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Tổng khối lượng</label>
            <div class="p-col-12 p-lg-4 p-p-0">

                <p-inputNumber #inputNumber [(ngModel)]="data.giaTri" [minFractionDigits]="0" locale="vi-VN">
                </p-inputNumber>

            </div>
        </div>
        <div class="p-col-12 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-1 p-p-0 my-auto">Ghi chú </label>
            <div class="p-col-12 p-lg-11 p-p-0">
                <input type="text" [(ngModel)]="data.ghiChu" class="p-inputtext-sm" pInputText />
            </div>
        </div>


        <div class="p-col-12 p-p-0 d-flex flex-column p-py-3">
            <h6 class=" p-text-bold text-left text-primary p-pb-4">
                Danh sách sợi
            </h6>
            <a style="width: 150px;" class="btn btn-primary mb-3">
                Lựa chọn sợi
            </a>
            <!-- // [scrollable]="true"  scrollHeight="40vh" -->
            <p-table styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <!-- <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width: 200px" />
                        <col style="width: 15rem" />
                        <col />
                        <col />
                    </colgroup>
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th>STT</th>
                        <th>Loại sợi</th>
                        <th>Hợp đồng</th>
                        <th>Số lượng sản xuất</th>
                        <th>Loại</th>
                        <th>Quy cách đóng gói</th>
                        <th>Ghi chứ</th>

                        <!-- <th>Sản lượng thành phẩm lũy kế (Kg)</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <!-- <tr>
                          <td class="text-center">{{i+1}}</td>
                          <td class="text-center">{{item.Ma}}</td>
                          <td class="text-center">{{item.Ten}}</td>
                          <td class="text-center">{{item.TenLoHang}}</td>
                          <td class="text-center">
                              <p-dropdown [filter]="true" [options]="listKgCone" placeholder="Chọn Kg/cone" 
                                  [(ngModel)]="item.KgCone" (onChange)="tinhKLTT(item)"
                                  styleClass="p-inputtext-sm"></p-dropdown>
                          
                          </td>
                     
                          <td class="text-center">
                              <div style="display: inline-flex;">
                                  <p-inputNumber #inputNumber (keyup.enter)="enter(i)" [tabindex]="i+1" [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoQuaSoiThucTe"
                                  (onBlur)="tinhKLTT(item)">
                                  </p-inputNumber>
                                  <button pButton pRipple icon="pi pi-ellipsis-v"
                                      class="p-button-sm p-button-rounded p-button-secondary p-button-text"
                                      (click)="tinhToan(item,'SoQuaSoiThucTe')" pTooltip="Tính toán" showDelay="1000"
                                      tooltipPosition="bottom"></button>
                              </div>
                          </td>
                        
                          <td class="text-right">
                              {{item.KLTT|number:'0.2-2'}}
                            
                          </td>
                      
                          <td class="text-center">
                              <input pInputText type="text" [(ngModel)]="item.GhiChu">
                          </td>
                          <td>
                              <button pButton pRipple icon="pi pi-trash"
                                  class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                  (click)="delete(i)" pTooltip="Xóa" showDelay="1000"
                                  tooltipPosition="bottom" tabindex="-1"></button>
                          </td>     
                      </tr> -->
                </ng-template>
            </p-table>
        </div>

    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
      <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
          (click)="activeModal.dismiss()"></button> -->
</div>