
<!-- table -->
<p-table [value]="items" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 50px;">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
            <col>
            <col style="width: 50px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center" rowspan="2">
                STT
            </th>
            <th class="text-center" rowspan="2">Mã</th>
            <th class="text-center" rowspan="2">Tên</th>
            <th class="text-center" rowspan="2">Loại bảo dưỡng</th>
            <th class="text-center" rowspan="2">Ngày theo KH</th>
            <th colspan="2">Thời gian bảo dưỡng</th>
            <th class="text-center" rowspan="2">Đã BD</th>
            <th class="text-center" rowspan="2">Ghi chú</th>
            <th class="text-center" rowspan="2">Thao tác</th>
        </tr>
        <tr>
            <th>Từ</th>
            <th>Đến</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class="text-center">
                {{i + 1}}
            </td>
            <td>{{item.MaTaiSan}}</td>
            <td>{{item.TenTaiSan}}</td>
            <td class="text-center">{{item.TendmLoaiBaoDuong}}</td>
            <td class="text-center">{{item.ThoiGianKeHoach| date:'dd/MM/yyyy'}}</td>
            <td class="text-center">
                <p-calendar [showTime]="true" dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm"
                    [(ngModel)]="item.TuGio" [showIcon]="true" inputId="icon" placeholder="Từ">
                </p-calendar>
            </td>
            <td class="text-center">
                <p-calendar [showTime]="true" dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm"
                    [(ngModel)]="item.DenGio"  [minDate]="item.TuGio" [showIcon]="true" inputId="icon" placeholder="Đến">
                </p-calendar>
            </td>
            <td class="text-center">
                <p-checkbox [(ngModel)]="item.isDaBaoDuong" [binary]="true"></p-checkbox>
            </td>
            <td class="text-center">
                <input type="text" [(ngModel)]="item.GhiChu" pInputText [ngbTooltip]="item.GhiChu"/>
            </td>
            <td class="text-center">
                <button pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-text p-button-sm p-button-secondary p-mr-2" pTooltip="Xóa"
                    (click)=" delete(i)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>