<div class="modal-header">
    <h4 style="color:#1f2779">
        Lập kế hoạch lịch xích tháng</h4>
    <div class="d-flex flex-column flex-lg-row">
        <div>
            <span style="font-weight: bold;">Số quy trình:</span> {{item.SoQuyTrinh}}
        </div>
        <div class="ml-lg-3 mr-lg-3">
            <span style="font-weight: bold;">TG Tạo:</span> {{item.Created|date:"dd/MM/yyyy HH:mm"}}
        </div>
        <div>
            <span style="font-weight: bold;">TG Duyệt:</span> {{item.Modified|date:"dd/MM/yyyy HH:mm"}}
        </div>
    </div>

</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm "
                (click)="activeModal.dismiss()"></button>
            <button pButton pRipple *ngIf="checkbutton.Ghi" type="button" label="Ghi lại" class="p-mr-2 p-button-sm "
                (click)="GhiLai()"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton *ngIf="checkbutton.ChuyenTiep" pRipple type="button" label="Chuyển duyệt"
                class="p-mr-2 p-button-sm " (click)="ChapNhan()"></button>
            <button pButton *ngIf="checkbutton.KhongDuyet" pRipple type="button" label="Không duyệt"
                class="p-mr-2 p-button-sm " (click)="KhongDuyet()"></button>
        </div>
    </div>
    <div class="p-grid">

        <div class="p-col-12 p-lg-8  p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-3 p-p-0 my-auto">Nội dung:</label>
            <div class="p-col-12 p-xl-9 p-p-0">
                <input locale="en-EN" pInputText [(ngModel)]="item.NoiDung" />
            </div>
        </div>
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-4 p-p-0 my-auto">Bộ phận sử dụng:</label>
            <div class="p-col-12 p-xl-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn bộ phận"
                    [(ngModel)]="item.IdBoPhanSuDung"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-8 p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-3 p-p-0 my-auto">Tài Sản:</label>
            <div class="p-col-12 p-xl-9 p-p-0">
                <p-dropdown [filter]="true" [options]="listLoaiTaiSan" [(ngModel)]="item.IddmLoaiTaiSan"
                    placeholder="Chọn tài sản"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-4 p-p-0 my-auto">Chọn tháng, năm:</label>
            <div class="p-col-12 p-xl-8 p-p-0">
                <p-calendar dateFormat="mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true" inputId="icon"
                    placeholder="Chọn tháng, năm" [(ngModel)]="item.ThoiGian">
                </p-calendar>
            </div>
        </div>
        <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-2 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-xl-10 p-p-0">
                <input locale="en-EN" pInputText [(ngModel)]="item.GhiChu" />
            </div>
        </div>
    </div>

    <p-tabView >
        <p-tabPanel header="Danh sách tài sản">
            <ng-template pTemplate="content">
                <div class="p-d-flex p-flex-row p-jc-between p-grid">
                    <div class="modal-bt p-mb-4 p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-lg-row ">
                        <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm "
                            (click)="ThemMoiDanhSachTaiSan()"></button>
                    </div>
                    <div class="modal-bt p-mb-4 p-col-12 p-lg-6  p-p-3 d-flex flex-column flex-lg-row">
                    </div>
                    <div class="modal-bt p-mb-4 p-col-12 p-lg-2  p-p-3 d-flex flex-column flex-lg-row">
                        <label class="p-col-12 p-lg-4 p-p-0 my-auto"> </label>
                        <div class="p-col-12 p-lg-8 p-p-0">
                            <!-- Tổng số: {{item.listTaiSan?.length}}thiết bị -->
                        </div>
                    </div>
                </div>
                <app-taisanlichxichthang [listTaiSan]="item.listTaiSan"></app-taisanlichxichthang>
            </ng-template>
        </p-tabPanel>

        <!-- <p-tabPanel header="Vật tư thay thế">
            <ng-template pTemplate="content">
                <app-vattulichxichthang [listTaiSan]="item.listTaiSan"></app-vattulichxichthang>
            </ng-template>
        </p-tabPanel>

        <p-tabPanel header="Chi phí">
            <ng-template pTemplate="content">
                <app-chiphilichxichthang [listTaiSan]="item.listTaiSan"></app-chiphilichxichthang>
            </ng-template>
        </p-tabPanel> -->
    </p-tabView>

</div>
<div class="modal-footer">

</div>