.divider {
    border-width: 0.1px;
    border-style: solid;
    border-color: #e5e7eb;
    display: flex;
    width: 100%;
}
.bg-title {
  background: #e9e5e1
}

.boder-title {
  border: 1px solid #e9e8e3;
}
:host ::ng-deep .p-treetable .p-treetable-tbody>tr>td {
  text-align: left;
  border: 1px solid #dee2e6;
  padding: 0.2rem 0.5rem;
}

:host ::ng-deep .p-treetable .p-treetable-thead>tr>th {
  text-align: left;
  border: 1px solid #dee2e6;
  padding: 0.2rem 0.5rem;
}

.image-box {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative; /* cần thiết để căn nút xóa */
}

.slide-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.delete-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  line-height: 16px;
  padding: 0;
}