<div class="p-d-flex p-flex-row p-jc-between p-ai-center">
    <div class="modal-bt p-mb-4 ">
        <!-- <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm"></button> -->
    </div>
    <div class="modal-bt p-mb-4 ">
        <span><b>Tổng chi phí: </b></span>
        <span style="color:red"><b>{{tongChiPhi | number: '0.0'}} </b></span>
        <span><b>(VNĐ)</b></span>
    </div>
</div>

<p-table [value]="items" styleClass="p-datatable-sm wrap-text p-datatable-gridlines">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 50px;">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">
                STT
            </th>
            <th>Mã</th>
            <th>Tên</th>
            <th class="text-center">Giá trị kế hoạch (VNĐ)</th>
            <th class="text-center">Giá trị thực tế (VNĐ)</th>
            <th class="text-center">Ghi chú</th>
            <th class="text-center">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class="text-center">{{i + 1}}</td>
            <td>{{item.MaTaiSan}}</td>
            <td>{{item.TenTaiSan}}</td>
            <td class="text-right">{{item.GiatriKeHoach | number: '0.0'}}</td>
            <td class="text-right">
                {{item.GiaTri}}
                <!-- <p-inputNumber inputId="integeronly" [(ngModel)]="item.GiaTri" placeholder="Giá trị thực tế"
                    (onBlur)="Count()"></p-inputNumber> -->
            </td>
            <td>
                <input type="text" pInputText placeholder="Ghi chú" [(ngModel)]="item.GhiChu" />
            </td>
            <td class="text-center">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-text" (click)="AddChiPhi(item)"></button>
            </td>
        </tr>
        <ng-container *ngFor="let chiphi of item.listChiPhiKhac; let a = index">
            <tr>
                <td class="text-center">{{i + 1 + "." + (a+1)}}</td>
                <td></td>
                <td class="p-pl-5">
                    <input type="text" pInputText placeholder="Tên chi phí" [(ngModel)]="chiphi.TenChiPhi" />
                </td>
                <td class="text-right">{{chiphi.GiatriKeHoach | number: '0.0'}}</td>
                <td>
                    <p-inputNumber inputId="integeronly" [(ngModel)]="chiphi.GiaTri" placeholder="Giá trị thực tế"
                        (onBlur)="Count()"></p-inputNumber>
                </td>
                <td>
                    <input type="text" pInputText placeholder="Ghi chú" [(ngModel)]="chiphi.GhiChu" />
                </td>
                <td class="text-center">
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="DeleteChiPhi(item, a)"></button>
                </td>
            </tr>
        </ng-container>
    </ng-template>
</p-table>

<!-- <p-treeTable [value]="item" [columns]="cols">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 50px;">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th class="text-center b-1">
                STT
            </th>
            <th class="text-center b-1">Mã</th>
            <th class="text-center b-1">Tên</th>
            <th class="text-center b-1">Giá trị kế hoạch</th>
            <th class="text-center b-1">Giá trị thực tế</th>
            <th class="text-center b-1">Ghi chú</th>
            <th class="text-center b-1">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>

        </tr>
    </ng-template>
</p-treeTable> -->