
<div class="d-flex justify-content-end p-mb-3">
    <strong style="color: #007bff;">Tổng giá trị: <span style="color: red;">{{this.TongChiPhi | number:'0.0-0'}} (VNĐ)</span></strong>
</div>
<p-table [value]="items" styleClass="p-datatable-customers p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width: 50px;">
            <col>
            <col>
            <col>
            <col>
            <col style="width: 100px;">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center ">
                STT
            </th>
            <th class="text-center ">Mã</th>
            <th class="text-center">Tên</th>
            <th class="text-center ">Giá trị (VNĐ)</th>
            <th class="text-center ">Ghi chú</th>
            <th class="text-center ">Thao tác</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td class=" text-center">{{i+1}}</td>
            <!-- <td>{{item.MaTaiSan}}</td> -->
            <td>{{item.Ma}}</td>
            <td>{{item.TenTaiSan}}</td>
            <td class=" text-right">{{item.ThanhTien | number:"0.0-0" }}</td>
            <td></td>
            <td class="text-center">
                <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-sm "
                    (click)="add2(item)"></button>
            </td>
        </tr>
        <ng-container *ngFor="let chiphi of item.listChiPhiKhac; let i = index">
            <tr>
                <td></td>
                <td></td>
                <td style="padding-left: 50px;"><input type="text" pInputText [(ngModel)]="chiphi.Ten"
                        placeholder="Chi phí phát sinh" /></td>
                <td class=" text-right">
                    <p-inputNumber inputId="locale-us" mode="decimal" locale="en-US" (onBlur)="TinhTong(chiphi)" styleClass="p-inputtext-sm"
                        [(ngModel)]="chiphi.GiaTri">
                    </p-inputNumber>
                </td>
                <td class=" text-left"><input type="text" class="p-inputtext-sm" [(ngModel)]="chiphi.GhiChu" [ngbTooltip]="chiphi.GhiChu" pInputText /></td>
                <td class="text-center"> <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-text p-button-sm p-button-secondary" (click)="delete(item,i)" pTooltip="Xóa"
                        showDelay="1000" tooltipPosition="bottom"></button></td>
            </tr>
        </ng-container>

    </ng-template>
</p-table>