<h4 class="title" style="color:#1f2779">
    BÁO CÁO TỔNG HỢP GIÁ MUA HÀNG
</h4>
<div class="p-d-flex p-flex-column p-flex-sm-row p-jc-between p-mb-3">
    <div class="p-d-flex p-flex-row">
        <button pButton label="Xuất excel" pRipple class="p-button-sm p-mr-2" (click)="export()"></button>
    </div>
    <div class="p-d-flex p-flex-row">
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listDuAn" placeholder="Chọn dự án" class="p-inputtext-sm"
                [(ngModel)]="filter.IdDuAn" [showClear]="true" (onChange)="handleDuAn($event.value)"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listKho" placeholder="Chọn kho" class="p-inputtext-sm"
                [(ngModel)]="filter.IddmKho" [showClear]="true" (onChange)="GetList(true)"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-dropdown [filter]="true" [options]="listNam" placeholder="Chọn năm" class="p-inputtext-sm"
                [(ngModel)]="filter.Nam" [showClear]="true" (onChange)="GetList(true)"></p-dropdown>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.TuNgay" [maxDate]="filter.DenNgay" inputId="icon" placeholder="Từ ngày"
                (onSelect)="GetList(true)">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filter.DenNgay" [minDate]="filter.TuNgay" inputId="icon" placeholder="Đến ngày"
                (onSelect)="GetList(true)">
            </p-calendar>
        </div>
        <div class="p-inputgroup" style="width:200px">
            <input type="text" placeholder="Tìm kiếm" [(ngModel)]="filter.Keyword" (keyup.enter)="GetList(true)"
                class="p-inputtext-sm" pInputText />
            <button type="button" pButton pRipple icon="pi pi-search"
                class="p-button-secondary p-button-sm p-button-text" (click)="GetList(true)"></button>
            <button type="button" pButton pRipple icon="pi pi-refresh"
                class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
        </div>
    </div>
</div>

<div class="sticky-table p-pt-3" appStickycolumn [fixedIndex]="4">
    <table style="width: 100%;">
        <thead>
            <tr *ngFor="let eleHead of item.listHeader; let i=index">
                <th [style]="{'min-width':x.DoRong,'max-width':x.DoRong,'text-align':'center'}"
                    *ngFor="let x of eleHead.Header" [attr.rowspan]="x.rowspan" [attr.colspan]="x.colspan">
                    {{x.name}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngTemplateOutlet="recursiveTable; context:{ rowData: item.listData }"></ng-container>
        </tbody>
    </table>
    <ng-template #recursiveTable let-rowData="rowData">
        <ng-container *ngFor="let item of rowData">
            <tr class="">
                <td *ngFor="let data of item.data.RowData; let index=index">
                    <div class="flex align-items-center" [appMarginleft]="data.isTree?item.data.level:0">
                        <Span (click)="toggleChildren(item)" *ngIf="item.children.length && data.isTree"><i
                                [style]="{'margin-right':'8px'}"
                                [ngClass]="item.showChildren?'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                        </Span>
                        <div *ngIf="data.DinhDang === 'float'"
                            [style]="{width:'100%', 'text-align':data.Horizontal}">
                            {{data.GiaTri | number:'0.0-0'}}
                        </div>
                        <div *ngIf="data.DinhDang !== 'float'" [style]="{width:'100%','text-align':data.Horizontal}">
                            {{data.GiaTri}}
                        </div>
                    </div>
                </td>

            </tr>
            <ng-container *ngIf="item.showChildren">
                <ng-container *ngTemplateOutlet="recursiveTable; context:{ rowData: item.children }"></ng-container>
            </ng-container>
        </ng-container>
    </ng-template>
</div>

<div class="d-flex align-items-center justify-content-between">
    Tổng số bản ghi {{paging.TotalCount}}.
    <p-paginator #paginator [totalRecords]="paging.TotalCount" [rows]="20" (onPageChange)="changePage($event)">
    </p-paginator>
</div>

<!-- <div class="sticky-table" appStickycolumn [fixedIndex]="3">
    <table style="width: 100%">
        <thead>
            <tr>
                <th class="text-center tc-w-50" rowspan="2">STT</th>
                <th class="text-center tc-w-150" rowspan="2">Mã hàng hóa</th>
                <th class="text-center tc-w-250" rowspan="2">Tên hàng hóa</th>
                <th class="text-center tc-w-100" rowspan="2">ĐVT</th>
                <th class="text-center tc-w-150" rowspan="2">Tổng SL nhập</th>
                <th class="text-center tc-w-150" rowspan="2">Giá trị TB</th>
                <th class="text-center tc-w-150" rowspan="2">Tổng GT hàng nhập</th>
                <th class="text-center tc-w-250" *ngFor="let label of listLabel" colspan="2">{{label.label}}</th>
            </tr>
            <tr>
                <ng-container *ngFor="let label of listLabel">
                    <th class="text-center tc-w-100">Số lượng</th>
                    <th class="text-center tc-w-100">Giá</th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of items;let i = index">
                <tr>
                    <td class="text-center tc-w-50">
                        {{ 20 * (paging.CurrentPage - 1) + i + 1 }}
                    </td>
                    <td class=" tc-w-150">{{item.Ma}}</td>
                    <td class=" tc-w-250">{{item.Ten}}</td>
                    <td class=" tc-w-100">{{item.DonViDatHang}}</td>
                    <td class="text-right tc-w-150">{{item.SoLuong | number:'0.0-0'}}</td>
                    <td class="text-right tc-w-150">{{item.ThanhTien / item.SoLuong | number:'0.0-0'}}</td>
                    <td class="text-right tc-w-150">{{item.ThanhTien | number:'0.0-0'}}</td>

                    <ng-container *ngFor="let thang of item.listItem">
                        <td class="text-right tc-w-100">{{thang.SoLuong | number:'0.0-0'}}</td>
                        <td class="text-right tc-w-150">{{thang.ThanhTien | number:'0.0-0'}}</td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
<div class="d-flex align-items-center justify-content-between">
    Tổng số bản ghi {{paging.TotalCount}}.
    <p-paginator #paginator [totalRecords]="paging.TotalCount" [rows]="20" (onPageChange)="changePage($event)">
    </p-paginator>
</div> -->