<div class="p-grid">
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Lao động:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoLaoDong" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổ trưởng:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.ToTruong" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">Tình hình hoạt động trong ca:</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row"
        *ngFor="let tinhhinh of item?.lstTinhHinhHoatDongChiTiet">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">{{tinhhinh.TenTinhHinh}}({{tinhhinh.DonVi}}):</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <input *ngIf="tinhhinh.LoaiDuLieu === 'string'" type="text" class="p-inputtext-sm"
                [(ngModel)]="tinhhinh.TinhHinhHoatDong_String" pInputText />
            <p-inputNumber *ngIf="tinhhinh.LoaiDuLieu === 'double'" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="2" locale="en-EN" [(ngModel)]="tinhhinh.TinhHinhHoatDong_Double"></p-inputNumber>
        </div>
    </div>
</div>
<hr>
<div class="p-grid">
    <div class="col-12 col-md-8">
        <p-table [value]="item.lstThayTho">
            <ng-template pTemplate="header">
                <tr>
                    <th>Mặt máy</th>
                    <th>Số quả thay thô</th>
                    <th>Thời gian</th>
                    <th style="width: 90px;">
                        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="addMachine()"></button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-machine let-i="rowIndex">
                <tr>
                    <td>
                        <input type="text" class="p-inputtext-sm" [(ngModel)]="machine.MatMay"
                            pInputText />
                    </td>
                    <td>
                        <p-inputNumber mode="decimal" [minFractionDigits]="1" [maxFractionDigits]="2" locale="en-EN"
                            [(ngModel)]="machine.SoQuaThay"></p-inputNumber>
                    </td>
                    <td class="text-right">
                        <input type="text" class="p-inputtext-sm" [(ngModel)]="machine.ThoiGian"
                            pInputText />
                    </td>
                    <td class="text-center">
                        <button pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-text p-button-sm p-button-secondary" (click)="deleteMachine(i)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>