<div class="sogiodungmay">
  <!-- input options -->
  <div class="options p-d-flex p-ai-center p-jc-between">
    <div class="p-d-flex flex-column flex-lg-row p-pl-0">
      <div class="p-d-flex flex-column flex-md-row mb-md-2 mb-lg-0">
        <div class="p-d-flex flex-column flex-md-row mb-md-2 mb-lg-0">
          <div class="p-mr-2">
            <p-dropdown
              [filter]="true"
              placeholder="Công đoạn"
              styleClass="p-inputtext-sm"
              [options]="CongDoan"
              [(ngModel)]="filter.MaCongDoan"
              (onChange)="getDataBaoCao()"
              [showClear]="true"
            >
            </p-dropdown>
          </div>
          <div class="p-mr-2">
            <p-dropdown
              [filter]="true"
              placeholder="Chọn bộ phận sử dụng"
              styleClass="p-inputtext-sm"
              [options]="PhanXuong"
              [(ngModel)]="filter.IdBoPhanSuDung"
              (onChange)="getDataBaoCao()"
              [showClear]="true"
            ></p-dropdown>
          </div>
        </div>

        <div class="p-mr-2">
          <p-calendar
            dateFormat="dd.mm.yy"
            inputStyleClass="p-inputtext-sm"
            [showIcon]="true"
            inputId="icon"
            placeholder="Từ ngày"
            [(ngModel)]="filter.TuNgay"
            (onSelect)="getDataBaoCao()"
          >
          </p-calendar>
        </div>
        <div class="p-mr-2">
          <p-calendar
            dateFormat="dd.mm.yy"
            inputStyleClass="p-inputtext-sm"
            [showIcon]="true"
            inputId="icon"
            placeholder="Đến ngày"
            [minDate]="filter.TuNgay"
            [(ngModel)]="filter.DenNgay"
            (onSelect)="getDataBaoCao()"
          >
          </p-calendar>
        </div>

        <div>
          <button
            pButton
            type="button"
            label="Biểu đồ chi tiết theo từng máy"
            class="p-button-sm"
            (click)="getChart4()"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <!-- first and second chart -->
  <div class="top-charts row col-12 mx-0 p-0">
    <div class="first-chart bg-white p-3">
      <h6 class="text-center m-0" style="font-weight: bold">TỔNG HỢP</h6>

      <p-chart
        class="p-2"
        type="pie"
        [options]="optionsPie"
        [data]="data1"
        width="100%"
        height="100%"
        (click)="getDataBaoCao()"
      ></p-chart>
    </div>

    <div class="second-chart bg-white p-3">
      <h6 class="text-center m-0" style="font-weight: bold">
        LOẠI SỰ CỐ:
        <span [style.color]="ColorLoaiSuCo">{{ TenLoaiSuCo }}</span>
      </h6>
      <p-chart type="bar" [data]="data2" [options]="options2"></p-chart>
    </div>
  </div>

  <!-- third chart -->
  <div class="third-chart row col-12 p-0 m-0">
    <div class="col-12 bg-white m-0 p-3">
      <h6></h6>
      <p-chart
        height="250"
        type="bar"
        [data]="data3"
        [options]="options3"
        (onDataSelect)="selectData($event)"
      ></p-chart>
    </div>
  </div>
</div>

<!-- fourth chart -->
<p-dialog [(visible)]="displayBasic" [style]="{ width: '80vw' }" [modal]="true">
  <div>
    <h5 class="text-center mb-3">Biểu đồ Chi tiết theo từng máy</h5>
    <!-- <div id="chart4" style="height:500px ;"></div> -->
    <div >

    </div>
    <canvas id="chart4" style="width:100% ;height:500px"></canvas>
    <!-- <p-chart type="bar" [data]="data4" [options]="options4"></p-chart> -->
  </div>
  <ng-template pTemplate="footer">
    <!-- <p-button
      icon="pi pi-check"
      (click)="displayBasic = false"
      label="Ok"
      styleClass="p-button-text"
    ></p-button> -->
  </ng-template>
</p-dialog>
