.options{
    margin-bottom: 20px;
}
.sogiodungmay{
    height: calc(100vh - 171px);
}
.top-charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 50%;
}

.first-chart {
    width: 40%;
    flex-basis: 1;
    flex-grow: 1;
    height: 100%;
}

.second-chart {
    width: 60%;
    flex-basis: 1;
    flex-grow: 1;
    height: 100%;
}

.third-chart {
    height: 50%;
}

:host ::ng-deep .p-dialog-header {
    justify-content: space-between;
}

:host ::ng-deep .third-chart canvas {
    height: calc((100vh - 211px)/2 - 28px) !important;
}
:host ::ng-deep .second-chart canvas {
    height: calc((100vh - 211px)/2 - 45px) !important;
}
:host ::ng-deep .first-chart canvas {
    height: calc((100vh - 211px)/2 - 45px) !important;
    cursor: pointer;
}