<div class="sogiodungmay">
    <!-- input options -->
    <div class="options p-d-flex p-ai-center p-jc-between">
        <div class="p-d-flex flex-column flex-lg-row p-pl-0">
            <div class="p-d-flex flex-column flex-md-row mb-md-2 mb-lg-0">
                <div class="p-d-flex flex-column flex-md-row mb-md-2 mb-lg-0">
                    <div class="p-mr-2">
                        <p-dropdown [filter]="true" placeholder="Chọn phân xưởng" styleClass="p-inputtext-sm"
                            [options]="listPhanXuong" [(ngModel)]="filter.IddmPhanXuong" [showClear]="true"
                            (onChange)="getOptions()">
                        </p-dropdown>
                    </div>
                    <div class="p-mr-2">
                        <p-dropdown [filter]="true" placeholder="Chọn năm" styleClass="p-inputtext-sm"
                            [options]="listNam" [(ngModel)]="filter.Nam" [showClear]="true" (onChange)="getOptions()">
                        </p-dropdown>
                    </div>
                    <div class="p-mr-2">
                        <p-dropdown [filter]="true" placeholder="Chọn bông" styleClass="p-inputtext-sm"
                            [options]="listBong" [(ngModel)]="filter.LoaiBong" [showClear]="true"
                            (onChange)="getOptions()">
                        </p-dropdown>
                    </div>
                    <div class="p-mr-2">
                        <button pButton pRipple label="Xuất báo cáo" class="p-button-sm p-mr-2"
                            (click)="XuatDuLieu()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- first and second chart: Biểu đồ bông sơ -->
    <div class="top-charts row col-12 mx-0 p-0">
        <div class="first-chart bg-white p-3">
            <h6 class="text-center m-0" style="font-weight: bold">TIÊU HAO BÔNG</h6>
            <p-chart type="bar" [data]="data" [options]="ops" (onDataSelect)="getChart($event)"></p-chart>
            <div class="d-flex p-ai-center p-jc-center">
                <div class="d-flex p-ai-center p-jc-center p-mr-3">
                    <div class="chuthich"></div>
                    <span>Định mức</span>
                </div>
                <div class="d-flex p-ai-center p-jc-center  p-mr-3">
                    <div class="chuthichss"></div>
                    <span>Sổ sách</span>
                </div>
                <div class="d-flex p-ai-center p-jc-center">
                    <div class="chuthichtc"></div>
                    <span>Thực tế</span>
                </div>
            </div>
        </div>

        <div class="second-chart bg-white p-3">
            <h6 class="text-center m-0" style="font-weight: bold">
                TIÊU HAO XƠ
            </h6>
            <p-chart type="bar" [data]="dataXo" [options]="options" (onDataSelect)="getChart($event)"></p-chart>
            <div class="d-flex p-ai-center p-jc-center">
                <div class="d-flex p-ai-center p-jc-center p-mr-3">
                    <div class="chuthich"></div>
                    <span>Định mức</span>
                </div>
                <div class="d-flex p-ai-center p-jc-center  p-mr-3">
                    <div class="chuthichss"></div>
                    <span>Sổ sách</span>
                </div>
                <div class="d-flex p-ai-center p-jc-center">
                    <div class="chuthichtc"></div>
                    <span>Thực tế</span>
                </div>
            </div>
        </div>
    </div>

    <!-- third chart: Biểu đồ Chi tiết từng ngày -->
    <div class="top-charts row col-12 mx-0 p-0">
        <div class="first-chart bg-white p-3">
            <h6 class="text-center m-0" style="font-weight: bold"> TỶ LỆ CHẾ THÀNH (Tháng {{thang}})</h6>
            <div class="pt-3 ">
                <p-table *ngIf="item.ChiNhanh === 0" [value]="item?.listData3" [scrollable]="true" scrollHeight="400px"
                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
                    <ng-template pTemplate="colgroup">
                        <col style="width:50px">
                        <col style="min-width:200px">
                        <col style="width:100px" *ngFor="let col of item?.listData3[0]?.listGiaTri">
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let kiemkehead of item.listHeader3" [attr.rowspan]="kiemkehead.rowspan"
                                [attr.colspan]="kiemkehead.colspan" [ngStyle]="{
          display: kiemkehead.colspan || kiemkehead.rowspan ? '' : 'none'
        }">
                                {{ kiemkehead.name }}
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let kiemkehead of item.listHeader3" [ngStyle]="{
          display: kiemkehead.colspan || kiemkehead.rowspan ? 'none' : ''
        }">
                                {{ kiemkehead.name }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item1 let-i="rowIndex">
                        <tr [style]="{fontWeight:item1.bold,color:item1.color}">
                            <td class="text-center">{{ item1.STT }}</td>
                            <td>{{ item1.ThanhPhan }}</td>
                            <td *ngFor="let data of item1?.listGiaTri">
                                <div>
                                    <p-inputNumber [minFractionDigits]="data.SoSauDauPhay" mode="decimal"
                                        [(ngModel)]="data.GiaTri" [disabled]="data.isDisable"></p-inputNumber>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <p-table *ngIf="item.ChiNhanh === 1" [value]="item?.listData2" [scrollable]="true" scrollHeight="400px"
                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
                    <ng-template pTemplate="colgroup">
                        <col style="width:50px">
                        <col style="min-width:200px">
                        <col style="width:100px" *ngFor="let col of item?.listData2[0]?.listGiaTri">
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let kiemkehead of item.listHeader2" [attr.rowspan]="kiemkehead.rowspan"
                                [attr.colspan]="kiemkehead.colspan" [ngStyle]="{
          display: kiemkehead.colspan || kiemkehead.rowspan ? '' : 'none'
        }">
                                {{ kiemkehead.name }}
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let kiemkehead of item.listHeader2" [ngStyle]="{
          display: kiemkehead.colspan || kiemkehead.rowspan ? 'none' : ''
        }">
                                {{ kiemkehead.name }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item1 let-i="rowIndex">
                        <tr [style]="{fontWeight:item1.bold,color:item1.color}">
                            <td class="text-center">{{ item1.STT }}</td>
                            <td>{{ item1.ThanhPhan }}</td>
                            <td *ngFor="let data of item1?.listGiaTri">
                                <div>
                                    <p-inputNumber [minFractionDigits]="data.SoSauDauPhay" mode="decimal"
                                        [(ngModel)]="data.GiaTri" [disabled]="data.isDisable"></p-inputNumber>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="second-chart bg-white p-3">
            <h6 class="text-center m-0" style="font-weight: bold">
                TỶ LỆ BÔNG PHẾ (Tháng {{thang}})
            </h6>
            <div class="pt-3">
                <p-table [value]="itemBongPhe?.listData1" [scrollable]="true" scrollHeight="400px"
                    styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
                    <ng-template pTemplate="colgroup">
                        <col style="width:50px">
                        <col style="min-width:200px">
                        <col style="width:100px" *ngFor="let col of itemBongPhe?.listData1[0]?.listGiaTri">
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th *ngFor="let kiemkehead of itemBongPhe.listHeader1" [attr.rowspan]="kiemkehead.rowspan"
                                [attr.colspan]="kiemkehead.colspan" [ngStyle]="{
          display: kiemkehead.colspan || kiemkehead.rowspan ? '' : 'none'
        }">
                                {{ kiemkehead.name }}
                            </th>
                        </tr>
                        <tr>
                            <th *ngFor="let kiemkehead of itemBongPhe.listHeader1" [ngStyle]="{
          display: kiemkehead.colspan || kiemkehead.rowspan ? 'none' : ''
        }">
                                {{ kiemkehead.name }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item1 let-i="rowIndex">
                        <tr [style]="{fontWeight:item1.bold,color:item1.color}">
                            <td class="text-center">{{ item1.STT }}</td>
                            <td>{{ item1.ThanhPhan }}</td>
                            <td *ngFor="let data of item1?.listGiaTri">
                                <div>
                                    <p-inputNumber [minFractionDigits]="data.SoSauDauPhay" mode="decimal"
                                        [(ngModel)]="data.GiaTri" [disabled]="data.isDisable"></p-inputNumber>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>