.tc-w-50 {
    min-width: 50px !important;
    max-width: 50px !important;
  }

  .tc-w-150 {
    min-width: 150px !important;
    max-width: 150px !important;
  }

  .tc-w-500 {
    min-width: 300px !important;
    max-width: 300px !important;
  }

  ::ng-deep .p-component:disabled {
    cursor: not-allowed;
    background-color: #fff;
    opacity: 1;
  }