<!-- <div class="p-grid">
    <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Lao động:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoLaoDong" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổ trưởng:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.ToTruong" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">Tình hình hoạt động trong ca:</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TinhHinhHoatDongTrongCa" pInputText />
        </div>
    </div>
    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText />
        </div>
    </div>
</div> -->
<div class="p-grid">
    <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Lao động:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.SoLaoDong" pInputText />
            <!-- <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="item.SoLaoDong"></textarea> -->
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổ trưởng:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <input type="text" class="p-inputtext-sm" [(ngModel)]="item.ToTruong" pInputText />
            <!-- <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="item.ToTruong"></textarea> -->
        </div>
    </div>
    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">Tình hình hoạt động trong ca:</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <!-- <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TinhHinhHoatDongTrongCa" pInputText /> -->
            <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="item.TinhHinhHoatDongTrongCa"></textarea>
        </div>
    </div>
    <!-- <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row"
        *ngFor="let tinhhinh of item?.lstTinhHinhHoatDongChiTiet">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">{{tinhhinh.TenTinhHinh}}:</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <textarea *ngIf="tinhhinh.LoaiDuLieu === 'string'" pInputTextarea autoResize="autoResize"
                [(ngModel)]="item.TinhHinhHoatDong_String"></textarea>
            <p-inputNumber *ngIf="tinhhinh.LoaiDuLieu === 'double'" mode="decimal" [minFractionDigits]="2"
                [maxFractionDigits]="2" locale="en-EN" [(ngModel)]="product.TinhHinhHoatDong_Double"></p-inputNumber>
        </div>
    </div> -->
    <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
        <div class="p-col-12 p-lg-10 p-p-0">
            <!-- <input type="text" class="p-inputtext-sm" [(ngModel)]="item.GhiChu" pInputText /> -->
            <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="item.GhiChu" autoResize="autoResize"></textarea>

        </div>
    </div>
</div>
<hr>
<div class="p-grid">
    <div class="col-12">
        <p-table [value]="item.lstMatHangBongPhe">
            <ng-template pTemplate="colgroup">
                <col style="width:200px">
                <col style="width:200px">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col style="width:200px">
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Loại phế</th>
                    <th>Mặt hàng</th>
                    <!-- <th>LK có lõi trước</th> -->
                    <th>KL có lõi (kg)</th>
                    <th>Số lõi</th>
                    <th>Trọng lượng lõi</th>
                    <!-- <th>LK có lõi sau</th> -->
                    <!-- <th>LK tách lõi trước</th> -->
                    <th>KL tách lõi (kg)</th>
                    <!-- <th>LK tách lõi sau</th> -->
                    <th>Định mức</th>
                    <th>Ghi chú</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.TendmLoaiBongPhe}}</td>
                    <td>{{product.TendmMatHang}}</td>
                    <!-- <td class="text-right">{{product.KhoiLuongCoLoiLuyKeThang|number:'0.2-2'}}</td> -->
                    <td>
                        <p-inputNumber mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" locale="en-EN"
                            [(ngModel)]="product.KhoiLuongCoLoi" (onBlur)="changeCoLoi(product)"></p-inputNumber>
                    </td>
                    <!-- <td class="text-right">{{((product.KhoiLuongCoLoiLuyKeThang||0)+(product.KhoiLuongCoLoi||0))|number:'0.2-2'}}</td> -->
                    <!-- <td class="text-right">{{product.KhoiLuongTachLoiLuyKeThang|number:'0.2-2'}}</td> -->
                    <td>
                        <p-inputNumber mode="decimal" [minFractionDigits]="0" [maxFractionDigits]="0"   locale="en-EN"
                            [(ngModel)]="product.SoLoi" (onBlur)="changeCoLoi(product)"></p-inputNumber>
                    </td>
                    <td>
                        <p-inputNumber mode="decimal" [minFractionDigits]="4" [maxFractionDigits]="4"   locale="en-EN"
                            [(ngModel)]="product.TrongLuongLoi" (onBlur)="changeCoLoi(product)"></p-inputNumber>
                    </td>
                    <td>
                        <p-inputNumber mode="decimal"[minFractionDigits]="2" [maxFractionDigits]="2" locale="en-EN"
                            [(ngModel)]="product.KhoiLuongTachLoi" [disabled]="true"></p-inputNumber>
                    </td>
                    <!-- <td class="text-right">{{((product.KhoiLuongTachLoiLuyKeThang||0)+(product.KhoiLuongTachLoi||0))|number:'0.2-2'}}</td> -->
                    <td class="text-right">{{product.DinhMuc|number:'0.2-2'}}</td>
                    <td>
                        <input type="text" class="p-inputtext-sm" [(ngModel)]="product.GhiChu" [pTooltip]="product.GhiChu" showDelay="500" tooltipPosition="bottom" pInputText />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>