<div class="modal-header">
    <h5 class="modal-title">{{opt==='add'?'Thêm mới':'Cập nhật'}} phương án pha bông</h5>
    <!-- <div>Số quy trình: {{item.SoQuyTrinh}}</div> -->
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Chuyển duyệt" class="p-mr-2 p-button-sm"
                (click)="ChuyenDuyet()" *ngIf="checkbutton.ChuyenTiep"></button>
            <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Triển khai kế hoạch:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listKeHoach" placeholder="Chọn triển khai kế hoạch" styleClass="p-inputtext-sm"
                    [(ngModel)]="item.IdKeHoach"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổng số kiện:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.TongSoKien">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-p-0" style="font-size: 12px !important;">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">
                            Thành phần bông
                        </th>
                        <!-- <th colspan="10">Chất lượng bông</th> -->
                        <th rowspan="2">Tồn </th>
                        <th rowspan="2">Tổng ngày CD</th>
                        <th rowspan="2">Còn lại CD</th>
                        <th rowspan="2">Tỷ lệ</th>
                        <th rowspan="2">USE 7</th>
                        <th [attr.colspan]="listBanBong.length">Bàn bông CF</th>
                    </tr>
                    <tr>
                        <!-- <th>Neps</th>
                        <th>Mic</th>
                        <th>Mat</th>
                        <th>UHML</th>
                        <th>Str</th>
                        <th>SFI</th>
                        <th>Rd</th>
                        <th>+b</th>
                        <th>Tạp</th>
                        <th>Ẩm</th> -->
                        <th *ngFor="let ban of listBanBong">
                            {{ban.label}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listItems; let i = index">
                        <td class="text-center">{{item.label}}</td>
                        <!-- <td class="text-center">{{item.neps}}</td>
                        <td class="text-center">{{item.mic}}</td>
                        <td class="text-center">{{item.mat}}</td>
                        <td class="text-center">{{item.uhml}}</td>
                        <td class="text-center">{{item.str}}</td>
                        <td class="text-center">{{item.sfi}}</td>
                        <td class="text-center">{{item.rd}}</td>
                        <td class="text-center">{{item.pb}}</td>
                        <td class="text-center">{{item.Tap}}</td>
                        <td class="text-center">{{item.Am}}</td> -->
                        <td class="text-center">{{item.Ton}}</td>
                        <td class="text-center">{{item.TongNgay}}</td>
                        <td class="text-center">{{item.ConLai}}</td>
                        <td class="text-center">{{item.TyLe}}</td>
                        <td class="text-center">{{item.Used}}</td>
                        <td *ngFor="let prop of listProps" class="text-center" style="width: 30px;">
                            <app-dat09 [(ngModel)]="item[prop]" type="number"></app-dat09>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>