<div class="modal-header">
    <h5 class="modal-title">{{opt==='add'?'Thêm mới':'Cập nhật'}} phương án pha bông</h5>
    <!-- <div>Số quy trình: {{item.SoQuyTrinh}}</div> -->
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Ghi lại" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Chuyển duyệt" class="p-mr-2 p-button-sm"
                (click)="ChuyenDuyet()" *ngIf="checkbutton.ChuyenTiep"></button>
            <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Triển khai kế hoạch:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listKeHoach" placeholder="Chọn triển khai kế hoạch"
                    styleClass="p-inputtext-sm" [(ngModel)]="item.IdKeHoach"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổng số kiện:</label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-inputNumber [minFractionDigits]="2" locale="vi-VN" [(ngModel)]="item.TongSoKien">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-col-12 p-p-0 pintable-container" voiPintable [pinnedCols]="8">
            <table>
                <!-- <colgroup>
                    <col style="min-width: 200px !important;">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col *ngFor="let ban of listBanBong">
                </colgroup> -->
                <thead>
                    <tr>
                        <th rowspan="2" style="min-width: 150px;">
                           Thành phần bông
                        </th>
                        <th colspan="3">Chất lượng bông</th>
                        <th rowspan="2" style="min-width: 60px;">Tồn đầu</th>
                        <th rowspan="2" style="min-width: 60px;">Số lượng dùng</th>
                        <th rowspan="2" style="min-width: 60px;">Tồn cuối</th>
                        <th rowspan="2" style="min-width: 60px;">Tỷ lệ</th>
                        <th [attr.colspan]="listBanBong.length">Bàn bông</th>
                    </tr>
                    <tr>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="min-width: 50px;">Mic</th>
                        <th style="min-width: 50px;">Rd</th>
                        <th style="min-width: 50px;">+b</th>
                        <th *ngFor="let ban of listBanBong" style="min-width: 50px;">
                            {{ban.label}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listItems; let i = index">
                        <td class="text-center" style="min-width: 150px;">{{item.label}}</td>
                        <td class="text-center" style="min-width: 50px;" >{{item.mic}}</td>
                        <td class="text-center" style="min-width: 50px;" >{{item.rd}}</td>
                        <td class="text-center" style="min-width: 50px;" >{{item.pb}}</td>
                        <td class="text-center" style="min-width: 60px;">{{item.Ton}}</td>
                        <td class="text-center" style="min-width: 60px;">{{item.TongNgay}}</td>
                        <td class="text-center" style="min-width: 60px;">{{item.ConLai}}</td>
                        <td class="text-center" style="min-width: 60px;">{{item.TyLe}}</td>
                        <td *ngFor="let prop of listProps" class="text-center" style="min-width: 50px;">
                            <div style="width: 100%;">
                                <input style="width: 100%; border: none;text-align: center;"
                                    [(ngModel)]="item[prop].SoKien" placeholder="_"
                                    [attr.tabindex]="item[prop].tabIndex" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>