<div class="p-d-flex p-ai-center p-jc-start p-mb-3 p-py-3">
    <button pButton pRipple label="Thêm mới" (click)="add()" icon="pi pi-plus" class="p-button-sm p-mr-2"></button>
    <div></div>
</div>
<div class="p-mt-3">
    <p-table styleClass="p-datatable-sm p-datatable-striped" [scrollable]="true">

        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">#</th>
                <th>Loại thanh toán </th>
                <th>Nội dung thanh toán </th>
                <th>Ngày thanh toán</th>
                <th>Giá trị thanh toán</th>
                <th>Phần trăm thanh toán</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>
                <td class="text-center"> {{ 20 * (paging.CurrentPage - 1) + i + 1 }} </td>
                <td class="text-center">{{item.loaiThanhToan}}</td>

                <td class="text-center">{{item.noiDung}}</td>

                <td class="text-center">{{item.TuNgay|date:'dd/MM/yyyy'}}</td>
                <td class="text-center">{{item.giaTri}}</td>
                <td class="text-center">{{item.tyLe}}</td>

            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between"> Tổng số bản ghi </div>
        </ng-template>
    </p-table>
</div>