:host ::ng-deep .p-treetable .p-treetable-tbody>tr>td {
  text-align: left;
  border: 1px solid #dee2e6;
  padding: 0.2rem 0.5rem;
}

:host ::ng-deep .p-treetable .p-treetable-thead>tr>th {
  text-align: left;
  border: 1px solid #dee2e6;
  padding: 0.2rem 0.5rem;
}
