<!-- <p-chart type="bar" [data]=monthlyConfig></p-chart> -->
<div class="p-d-flex p-ai-center p-jc-between">
    <div class="p-d-flex flex-column flex-lg-row p-pl-3">
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filterBong.TuNgay" inputId="icon" placeholder="Từ ngày">
            </p-calendar>
        </div>
        <div class="p-mr-2">
            <p-calendar dateFormat="dd/mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true"
                [(ngModel)]="filterBong.DenNgay" inputId="icon" placeholder="Đến ngày">
            </p-calendar>
        </div>

        <!-- <div class="p-inputgroup">
            <input type="text" placeholder="Tìm kiếm" class="p-inputtext-sm" pInputText (keyup.enter)="GetBieuDoBong()"
                [(ngModel)]="filterBong.KeyWord" />
            <button type="button" pButton pRipple icon="pi pi-refresh"
                class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
            <button type="button" pButton pRipple icon="pi pi-search"
                class="p-button-secondary p-button-sm p-button-text" (click)="resetFilter()"></button>
        </div> -->
    </div>
</div>
<div class="p-grid" style="align-self: stretch;">
    <div class="p-col-12 p-xl-8 p-lg-8 p-p-3">
        <div class="chart">
            <div class="p-d-flex flex-column flex-lg-row p-jc-between">
                <div>
                    <h5>
                        {{filterNhuCau.Kho ==='8cb622a8-b2c5-4232-a9f1-7fdebb40e3cb'?'Sản lượng kế hoạch và thực
                        hiện':'Nhu cầu sử dụng bông'}}
                    </h5>
                </div>
                <div class="p-d-flex flex-column flex-lg-row">
                    <div class="p-mr-2">
                        <p-dropdown [filter]="true" [options]="listLoaiBong" placeholder="Chọn loại bông"
                            styleClass="p-inputtext-sm" [(ngModel)]="filterNhuCau.LoaiBong"></p-dropdown>
                    </div>
                    <div class="p-mr-2">
                        <p-dropdown [filter]="true" [options]="listKho" placeholder="Chọn kho"
                            styleClass="p-inputtext-sm" [(ngModel)]="filterNhuCau.Kho" (onChange)="changeKho($event)">
                        </p-dropdown>
                    </div>
                    <!-- <div class="p-mr-2">
                        <p-dropdown [filter]="true" [options]="listMatHang" placeholder="Chọn mặt hàng"
                            styleClass="p-inputtext-sm" [(ngModel)]="filterNhuCau.MatHang"></p-dropdown>
                    </div> -->
                    <div style="display:table;height:100%">
                        <a style="display: table-cell; vertical-align: middle;" href="javascript:void(0)">Cân đối
                            tồn</a>
                    </div>
                </div>
            </div>
            <p-chart type="line" [data]=dataSet1 [options]="option1"></p-chart>
        </div>
    </div>

    <div class="p-col-12 p-xl-4 p-lg-4 p-p-3">
        <div class="chart text-left">
            <h5>{{filterNhuCau.Kho ==='8cb622a8-b2c5-4232-a9f1-7fdebb40e3cb'?'Cơ cấu mặt hàng':'Cơ cấu bông'}}</h5>
            <p-chart type="pie" [data]="dataPie" [options]='optionPie'></p-chart>
        </div>
    </div>
</div>
<div class="p-grid" style="align-self: stretch;">
    <div class="p-col-12 p-xl-12 p-lg-8 p-p-3">
        <div class="chart text-left">
            <h5>
                Cân đối tồn
            </h5>
            <p-table [value]="listItem" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col *ngFor="let col of cols" [ngStyle]="{width:col.width}">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let header of cols">
                            {{header.header}}
                        </th>
                    </tr>
                </ng-template>             
                <ng-template pTemplate="body" let-item let-i="rowIndex">                   
                    <tr>
                        <td *ngFor="let col of cols">
                            {{item[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- <div class="chart">
        <div class="p-d-flex flex-column flex-lg-row p-jc-between">
            <div>
                <h5>
                    Nhập xuất thành phẩm                   
                </h5>
            </div>
            <div class="p-d-flex flex-column flex-lg-row">             
                <div class="p-mr-2">
                    <p-dropdown [filter]="true" [options]="listKho" placeholder="Chọn kho"
                        styleClass="p-inputtext-sm" [(ngModel)]="filterNhuCau.Kho" (onChange)="changeKho($event)">
                    </p-dropdown>
                </div>
                <div class="p-mr-2">
                    <p-dropdown [filter]="true" [options]="listMatHang" placeholder="Chọn mặt hàng"
                        styleClass="p-inputtext-sm" [(ngModel)]="filterNhuCau.MatHang"></p-dropdown>
                </div>               
            </div>
        </div>
        <p-chart type="line" [data]=dataSet2 [options]="option1"></p-chart>
    </div> -->

    <!-- <div class="p-col-12 p-xl-4 p-lg-4 p-p-3">
        <div class="chart text-left">            
            <h5>
                Cơ cấu mặt hàng
                {{filterNhuCau.Kho ==='8cb622a8-b2c5-4232-a9f1-7fdebb40e3cb'?'Cơ cấu mặt hàng':'Cơ cấu bông'}}
            </h5>
            <p-chart type="pie" [data]="dataPie2" [options]='optionPie'></p-chart>
        </div>
    </div>    -->
</div>