<div class="modal-header">
    <h5 class="modal-title"> {{title}}
    </h5>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="activeModal.dismiss('close')"></button>
            <button pButton pRipple type="button" label="Chấp nhận" class="p-mr-2 p-button-sm"
                (click)="GhiLai()"></button>
              
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-12  p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-2 p-p-0 my-auto">Tên chi phí: </label>
            <div class="p-col-12 p-xl-10 p-p-0">
                <input type="text" class="p-inputtext-sm" [(ngModel)]="item.TenChiPhi" pInputText />
            </div>
        </div>

        <div class="p-col-12 p-lg-12 p-p-3 d-flex flex-column flex-xl-row">
            <label class="p-col-12 p-xl-2 p-p-0 my-auto">Số tiền <span class="text-danger">(*)</span>: </label>
            <div class="p-col-12 p-xl-9 p-p-0">
                <p-inputNumber [minFractionDigits]="0" locale="en-EN" [(ngModel)]="item.SoTien">
                </p-inputNumber> 
            </div>
            <div class="p-col-12 p-xl-1 p-p-0 mt-2 ml-2">
                (VNĐ)
            </div>
        </div>
    </div>
</div>