<div *ngIf="filter.LoaiKeHoach === 'NAM'">
    <div class="p-mb-3 p-mt-3">
        <h4 style="color:#1f2779">Lịch xích năm</h4>
    </div>
</div>
<div *ngIf="filter.LoaiKeHoach === 'THANG'">
    <div class="p-mb-3 p-mt-3">
        <h4 style="color:#1f2779">Lịch xích tháng</h4>
    </div>
</div>


<div class="p-p-1">

    <div class="p-d-flex p-flex-row p-jc-between p-ai-center">
        <div class="p-d-flex p-flex-row p-jc-start ">
            <div class="field-radiobutton p-mr-2">
                <p-radioButton value="theoBaoDuong" [(ngModel)]="filter.isChon" (onClick)="loadData()"></p-radioButton>
                <label>Theo loại bảo dưỡng</label>
            </div>
            <div class="field-radiobutton p-mr-2">
                <p-radioButton value="theoMay" [(ngModel)]="filter.isChon" (onClick)="loadData()"></p-radioButton>
                <label>Theo máy</label>
            </div>
        </div>
        <div class="p-d-flex p-flex-row p-jc-end">
            <div class="p-mr-2">
                <p-dropdown [filter]="true" [options]="listThoiGian" [(ngModel)]="filter.LoaiKeHoach"
                    placeholder="Chọn tháng năm" (onChange)="loadData(true)" styleClass="p-inputtext-sm"></p-dropdown>
            </div>
            <div class="p-mr-2">
                <p-calendar *ngIf="filter.LoaiKeHoach !== 'NAM'" dateFormat="mm/yy" view="month"
                    inputStyleClass="p-inputtext-sm" [monthNavigator]="true" [yearNavigator]="true"
                    [yearRange]="yearRange" [showIcon]="true" [(ngModel)]="filter.namThang" [locale]="lang"
                    (onSelect)="loadData(true)" inputId="icon" placeholder="mm/yyyy">
                </p-calendar>
                <p-dropdown *ngIf="filter.LoaiKeHoach === 'NAM'" [filter]="true" [options]="listNam"
                    [(ngModel)]="filter.nam" placeholder="Chọn năm" styleClass="p-inputtext-sm"
                    (onChange)="loadData(true)"></p-dropdown>
            </div>
            <div class="p-mr-2">
                <p-dropdown [filter]="true" [options]="listPhanXuong" placeholder="Chọn bộ phận sử dụng "
                    styleClass="p-inputtext-sm" [showClear]="true" [filter]="true" [(ngModel)]="filter.IdBoPhanSuDung"
                    (onChange)="loadData(true)"></p-dropdown>
            </div>
            <!-- <div class="p-mr-2">
                <p-dropdown [filter]="true" [options]="listLoaiTaiSan" placeholder="Chọn loại tài sản "
                    styleClass="p-inputtext-sm" [(ngModel)]="filter.IddmLoaiTaiSan" [showClear]="true" [filter]="true"
                    (onChange)="loadData(true)">
                </p-dropdown>
            </div> -->
            <div class="p-mr-2">
                <p-dropdown [filter]="true" [options]="listCongDoan" placeholder="Chọn công đoạn"
                    styleClass="p-inputtext-sm" [(ngModel)]="filter.Ma" [showClear]="true" [filter]="true"
                    (onChange)="loadData(true)">
                </p-dropdown>
            </div>
        </div>
    </div>
    <!-- lich xich nam -->
    <div *ngIf="filter.LoaiKeHoach === 'NAM'">

        <div class="p-d-flex p-ai-center p-jc-between p-mb-4">
            <div></div>
            <div class="p-mr-2"><strong>Tổng số: <span style="color: red;">{{items.TongSoTaiSan}}</span> thiết
                    bị</strong></div>
        </div>
        <div class=" bg-white p-mb-4">
            <p-table [value]="items.listBaoDuong" *ngIf="filter.isChon === 'theoBaoDuong'" [paginator]="true"
                [rows]="20" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:30px">
                        <col style="width:100px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Loại bảo dưỡng</th>
                        <th class="text-center">Tháng 1</th>
                        <th class="text-center">Tháng 2</th>
                        <th class="text-center">Tháng 3</th>
                        <th class="text-center">Tháng 4</th>
                        <th class="text-center">Tháng 5</th>
                        <th class="text-center">Tháng 6</th>
                        <th class="text-center">Tháng 7</th>
                        <th class="text-center">Tháng 8</th>
                        <th class="text-center">Tháng 9</th>
                        <th class="text-center">Tháng 10</th>
                        <th class="text-center">Tháng 11</th>
                        <th class="text-center">Tháng 12</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td (click)="ChiTietBaoDuong(item)">{{item.TendmLoaiBaoDuong}}</td>
                        <td class="text-center" *ngFor="let newItem of item.listItemTheoThoiGian">
                            <a href="javascript:void(0)" *ngFor="let taisan of newItem.listChiTiet"
                                [ngStyle]="{'color': taisan.Mau}" (click)="ChiTietThongTin(taisan)">
                                {{taisan.TenTaiSan}},
                            </a>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    Tổng số bản ghi {{items.listBaoDuong?.length}}.
                </ng-template>
            </p-table>
            <p-table [value]="items.listTaiSan" *ngIf="filter.isChon === 'theoMay'" [paginator]="true" [rows]="20"
                styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:30px">
                        <col style="width:100px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center">Mã, tên tài sản</th>
                        <th class="text-center">Tháng 1</th>
                        <th class="text-center">Tháng 2</th>
                        <th class="text-center">Tháng 3</th>
                        <th class="text-center">Tháng 4</th>
                        <th class="text-center">Tháng 5</th>
                        <th class="text-center">Tháng 6</th>
                        <th class="text-center">Tháng 7</th>
                        <th class="text-center">Tháng 8</th>
                        <th class="text-center">Tháng 9</th>
                        <th class="text-center">Tháng 10</th>
                        <th class="text-center">Tháng 11</th>
                        <th class="text-center">Tháng 12</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td (click)="ChiTietThongTin(item)">{{item.TenTaiSan}}</td>
                        <td class="text-center" *ngFor="let newItem of item.listItemTheoThoiGian">
                            <a href="javascript:void(0)" *ngFor="let taisan of newItem.listChiTiet"
                                [ngStyle]="{'color': taisan.Mau}" (click)="ChiTietBaoDuong(taisan)">
                                {{taisan.TendmLoaiBaoDuong}}
                            </a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    Tổng số bản ghi {{items.listTaiSan?.length}}.
                </ng-template>
            </p-table>
        </div>
    </div>
    <!-- lich xich thang -->
    <div *ngIf="filter.LoaiKeHoach === 'THANG'">
        <div class="p-d-flex p-ai-center p-jc-between p-mb-3">
            <div></div>
            <div class="p-mr-2"><strong>Tổng số: <span style="color: red;"> {{itemsLichXichThang.TongSoTaiSan}}</span>
                    thiết bị</strong></div>
        </div>
        <div class="p-col-12 p-mb-4 pintable-container bg-white" style="height: calc(100vh - 250px); z-index: 999;"
            voiPintable [pinnedCols]="2">
            <table>
                <thead>
                    <tr>
                        <th style="min-width: 50px;max-width: 50px; padding: 0.5rem 0">STT</th>
                        <th style="min-width: 200px;max-width: 200px; padding: 0.5rem 0"><span>{{filter.isChon ===
                                'theoMay' ? 'Mã, tên tài sản' : 'Loại bảo dưỡng'}}</span></th>
                        <!-- <th style="min-width: 200px;max-width: 200px; padding: 0.5rem 0"
                            *ngIf="filter.isChon === 'theoMay'">Mã, tên tài sản</th> -->

                        <th style="min-width: 150px;max-width: 150px;"
                            *ngFor="let label of itemsLichXichThang.listThoiGian">{{label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngTemplateOutlet="filter.isChon !== 'theoMay' ? listBaoDuong : listTaiSan;">
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <!-- phan duoi -->
    <div class="p-grid">
        <div class="p-col-12 p-lg-6 p-pl-0 p-pr-3">
            <!-- <app-baocaotonghoptaisanchiphivattu [filter]="filter"></app-baocaotonghoptaisanchiphivattu> -->
            <!-- <div class=" bg-white p-p-3">
                <div class="p-mb-3 p-mt-3">
                    <h4 style="color:#1f2779">Chi phí vật tư</h4>
                </div>
                <div class="d-flex justify-content-end p-mb-3">
                    <strong>Tổng giá trị: {{tongGiaTriVatTu | number:"0.0-0"}} (VNĐ)</strong>
                </div>
                <div class="p-mt-3">
                    <p-table [value]="listVatTu"
                        styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                        <ng-template pTemplate="colgroup">
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center" style="width: 50px;">STT</th>
                                <th class="text-center">Mã vật tư</th>
                                <th class="text-center">Tên vật tư</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">Đơn giá</th>
                                <th class="text-center">Thành tiền</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td class="text-center"> {{ 20 * (paging.CurrentPage - 1) + i + 1 }}</td>
                                <td class="text-center">{{item.Ma}}</td>
                                <td class="text-center">{{item.TenTaiSan}} </td>
                                <td class="text-center">{{item.SoLuong | number:"0.0-0"}}</td>
                                <td class="text-right">{{item.DonGia | number:"0.0-0"}}</td>
                                <td class="text-right">{{item.ThanhTien | number:"0.0-0"}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Tổng số bản ghi {{paging.TotalCount}}.<p-paginator #paginator
                                    [totalRecords]="paging.TotalCount" [rows]="20" (onPageChange)="changePage($event)">
                                </p-paginator>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div> -->
        </div>
        <!--  -->
        <div class="p-col-12 p-lg-6 p-pr-0 p-pl-3">
            <!-- <app-baocaotonghoptaisanchiphi [filter]="filter"></app-baocaotonghoptaisanchiphi> -->
            <!-- <div class=" bg-white p-p-3">
                <div class="p-mb-3 p-mt-3">
                    <h4 style="color:#1f2779">Chi phí</h4>
                </div>
                <div class="d-flex justify-content-end p-mb-3">
                    <strong>Tổng giá trị:{{tongGiaTriChiPhi | number:"0.0-0"}} (VNĐ)</strong>
                </div>
                <div class="p-mt-3">
                    <p-table [value]="listChiPhiKhac"
                        styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                        <ng-template pTemplate="colgroup">
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center" style="width: 50px;">STT</th>
                                <th class="text-center">Tên chi phí</th>
                                <th class="text-center">Tháng/ Năm</th>
                                <th class="text-center">Giá trị</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td class="text-center"> {{ 20 * (pagingChiPhi.CurrentPage - 1) + i + 1 }}</td>
                                <td> {{item.TenChiPhi}}</td>
                                <td class="text-center">{{item.Ngay | date:'MM/yyyy'}}</td>
                                <td class="text-right">{{item.GiaTri | number:"0.0-0"}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                Tổng số bản ghi {{pagingChiPhi.TotalCount}}.<p-paginator #paginator
                                    [totalRecords]="pagingChiPhi.TotalCount" [rows]="20"
                                    (onPageChange)="changePageChiPhi($event)"></p-paginator>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div> -->
        </div>
    </div>
</div>



<ng-template #listBaoDuong>
    <tr *ngFor="let lichXichThang of itemsLichXichThang.listBaoDuong; let i = index">
        <td class="text-center"
            style="min-width: 50px;; padding: 0.5rem 0 ; max-width: 50px;background-color: white; cursor: pointer; z-index: 999;">
            {{i+ 1}}
        </td>
        <td style="min-width: 200px;; padding: 0.5rem 0 ; max-width: 200px;background-color: white; cursor: pointer; z-index: 999;"
            (click)="ChiTietBaoDuongLichXIchThang(lichXichThang)">
            {{lichXichThang.KyHieu}}
        </td>
        <td style="min-width: 150px;max-width: 150px;background-color: white;" class="text-center"
            *ngFor="let newItem of lichXichThang.listItemTheoThoiGian"
            [ngStyle]="{'background-color': newItem.ColorLabel}">
            <a href="javascript:void(0)" *ngFor="let taisan of newItem.listChiTiet" [ngStyle]="{'color': taisan.Mau}"
                (click)="ChiTietThongTinLichXIchThang(taisan)">
                {{taisan.TenVietTat}}<br>
            </a>
        </td>
    </tr>
</ng-template>
<ng-template #listTaiSan>
    <tr *ngFor="let lichXichThang of itemsLichXichThang.listTaiSan; let i = index">
        <td class="text-center"
            style="min-width: 50px;; padding: 0.5rem 0 ; max-width: 50px;background-color: white; cursor: pointer; z-index: 999;">
            {{i+ 1}}
        </td>
        <td style="min-width: 200px;; padding: 0.5rem 0 ; max-width: 200px;background-color: white; cursor: pointer; z-index: 999;"
            (click)="ChiTietBaoDuongLichXIchThang(lichXichThang)">
            {{lichXichThang.TenVietTat}}
        </td>
        <td style="min-width: 150px;max-width: 150px;background-color: white;" class="text-center"
            *ngFor="let newItem of lichXichThang.listItemTheoThoiGian"
            [ngStyle]="{'background-color': newItem.ColorLabel}">
            <a href="javascript:void(0)" *ngFor="let taisan of newItem.listChiTiet" [ngStyle]="{'color': taisan.Mau}"
                (click)="ChiTietThongTinLichXIchThang(taisan)">
                {{taisan.KyHieu}}<br>
            </a>
        </td>
    </tr>
</ng-template>