<div class="modal-header">
    <h4 style="color:#1f2779">
        Lập kế hoạch lịch xích năm</h4>
    <div class="d-flex flex-column flex-lg-row">
        <div>
            <span style="font-weight: bold;">Số quy trình:</span> {{item.SoQuyTrinh}}
        </div>
        <div class="ml-lg-3 mr-lg-3">
            <span style="font-weight: bold;">TG Tạo:</span> {{item.Created|date:"dd/MM/yyyy HH:mm"}}
        </div>
        <div>
            <span style="font-weight: bold;">TG Duyệt:</span> {{item.Modified|date:"dd/MM/yyyy HH:mm"}}
        </div>
    </div>

</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm "
                (click)="activeModal.dismiss()"></button>
            <button pButton pRipple *ngIf="checkbutton.Ghi" type="button" label="Ghi lại" class="p-mr-2 p-button-sm "
                (click)="GhiLai()"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton *ngIf="checkbutton.KhongDuyet" pRipple type="button" label="Không duyệt"
                class="p-mr-2 p-button-sm " (click)="KhongDuyet()"></button>
            <button pButton *ngIf="checkbutton.ChuyenTiep" pRipple type="button" label="Chuyển duyệt"
                class="p-mr-2 p-button-sm " (click)="ChapNhan()"></button>
        </div>
    </div>
    <div class="p-grid">

        <div class="p-col-12 p-lg-7  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Nội dung:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <input locale="en-EN" [(ngModel)]="item.NoiDung" pInputText />
            </div>
        </div>
        <div class="p-col-12 p-lg-5  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Bộ phận sử dụng: <span class="required">(*)</span></label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listPhanXuong" [showClear]="true"
                    [(ngModel)]="item.IdBoPhanSuDung" (onChange)="ThemMoiDanhSachTaiSan()"
                    placeholder="Chọn bộ phận"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-7  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Chọn công đoạn: </label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-dropdown #congdoan [filter]="true" [showClear]="true" [options]="listCongDoan"
                    [(ngModel)]="item.MaCongDoan" (onChange)="ThemMoiDanhSachTaiSan()"
                    placeholder="Chọn công đoạn"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-5  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-4 p-p-0 my-auto">Chọn năm: <span class="required">(*)</span></label>
            <div class="p-col-12 p-lg-8 p-p-0">
                <p-dropdown [filter]="true" [options]="listNam" [(ngModel)]="item.Nam" placeholder="Chọn năm"
                    (onChange)="ThemMoiDanhSachTaiSan()" styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-lg-7  p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Ghi chú:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <textarea pInputTextarea class="p-inputtext-sm" [(ngModel)]="item.GhiChu"></textarea>
            </div>
        </div>
        <div class="p-col-12 p-lg-4 d-flex flex-column flex-xl-row">
            <div class="p-field-checkbox p-col-12 p-p-0 my-auto">
                <p-checkbox [(ngModel)]="item.isThayThe" binary="true" inputId="binary"></p-checkbox>
                <label for="binary">Thay thế </label>
            </div>
        </div>
    </div>

    <!-- <div class="p-d-flex p-flex-row p-jc-between p-grid">
        <div class="modal-bt p-mb-4 p-col-12 p-lg-4  p-p-3 d-flex flex-column flex-lg-row ">
            <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm "
                (click)="ThemMoiDanhSachTaiSan()"></button>
        </div>
    </div> -->
    <p-tabView (onChange)="changeTab($event)">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <div style="line-height: 1 !important;">
                    <!-- Danh sách tài sản (<span class="required" style="font-size: 14px !important;">*</span>) -->
                    Danh sách tài sản
                </div>
            </ng-template>
            <div class="d-flex justify-content-between p-mb-3">
                <div class="">
                    <!-- <button pButton pRipple type="button" label="Thêm tài sản" class="p-mr-2 p-button-sm "
                        (click)="ThemMoiDanhSachTaiSan()"></button> -->
                </div>
                <div class="p-p-0">
                    <strong style="color: #007bff;">Tổng số: <span style="color: red;">{{(item.listTaiSan | filter:
                            keyword)?.length}}</span> thiết bị</strong>
                </div>
            </div>
            <div class="p-grid p-jc-end">
                <span class="p-input-icon-left mb-3" style="width: 300px">
                    <i class="pi pi-search"></i>
                    <input type="text" [(ngModel)]="keyword" pInputText placeholder="Tìm kiếm..." />
                </span>
            </div>
            <p-table [value]="item.listTaiSan | filter: keyword "
                styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                        <col style="width:50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Tài sản</th>
                        <th class="text-center">Tháng 1</th>
                        <th class="text-center">Tháng 2</th>
                        <th class="text-center">Tháng 3</th>
                        <th class="text-center">Tháng 4</th>
                        <th class="text-center">Tháng 5</th>
                        <th class="text-center">Tháng 6</th>
                        <th class="text-center">Tháng 7</th>
                        <th class="text-center">Tháng 8</th>
                        <th class="text-center">Tháng 9</th>
                        <th class="text-center">Tháng 10</th>
                        <th class="text-center">Tháng 11</th>
                        <th class="text-center">Tháng 12</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-taisan let-i="rowIndex">
                    <tr>
                        <!-- <td> {{item.MaTaiSan}} - {{item.TenTaiSan}}</td>
                        <td class="text-center" *ngFor="let baoduong of item.listBaoDuong"
                            (click)="Chon(baoduong,item)">
                            <p *ngFor="let chitiet of baoduong.listChiTiet">{{chitiet?.TendmLoaiBaoDuong}}</p>
                            <a href="javascript:void(0)">Chọn</a>
                        </td> -->

                        <td class="text-center"> {{taisan.TenVietTat}}</td>
                        <td class="text-center" *ngFor="let baoduong of taisan.listBaoDuong">
                            <div>
                                <div *ngFor="let chitiet of baoduong.listChiTiet"
                                    [pTooltip]="chitiet?.TendmLoaiBaoDuong">{{chitiet?.KyHieu}}</div>
                                <!-- <a  *ngIf="baoduong.canInput" href="javascript:void(0)" (click)="Chon(baoduong,taisan)">Chọn</a> -->
                                <a *ngIf="baoduong.IsHienThi" href="javascript:void(0)"
                                    (click)="Chon(baoduong,taisan)">Chọn</a>
                            </div>
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-text p-button-sm p-button-secondary p-mr-2" pTooltip="Xóa"
                                (click)=" delete(i)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>

        <p-tabPanel header="Vật tư thay thế">
            <ng-template pTemplate="content">
                <app-vattuthaythelichxichnam [listTaiSan]="item.listTaiSan"></app-vattuthaythelichxichnam>
            </ng-template>
        </p-tabPanel>

        <p-tabPanel header="Chi phí khác">
            <ng-template pTemplate="content">
                <app-chiphilichxichnam [listTaiSan]="item.listTaiSan" [choNam]="item.Nam"></app-chiphilichxichnam>
            </ng-template>
        </p-tabPanel>
    </p-tabView>


</div>
<div class="modal-footer">

</div>