<div class="modal-header">
  <h5 class="modal-title">Chi tiết tháng {{thang}} mặt hàng {{tenSanPham}}</h5>
</div>
<div class="modal-body">
  <div class="p-d-flex p-flex-row p-jc-between">
    <div class="modal-bt p-mb-3">
      <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
        (click)="activeModal.dismiss()"></button>
      <button pButton pRipple type="button" label="Chấp nhận" class="p-mr-2 p-button-sm" (click)="ChapNhan()"></button>
    </div>
  </div>
  <p-panel header="Thông tin chung">
    <div class="p-grid p-mb-2">
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số lượng sản xuất:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.TongSanLuong" [min]="0" locale="en-US" (onBlur)="CountTongSanLuong()">
          </p-inputNumber>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Tổng số ca:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.TongSoCa" [min]="0" locale="en-US" placeholder="Nhập tổng số ca" (onBlur)="CountTongSanLuong()"></p-inputNumber>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Hiệu suất:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.HieuSuat" locale="en-US" placeholder="Nhập hiệu suất"></p-inputNumber>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số ngày làm việc:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.SoNgayLamViec" locale="en-US" placeholder="Nhập số ngày làm việc"></p-inputNumber>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Số máy con:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.SoMayCon" locale="en-US" placeholder="Nhập số máy con"></p-inputNumber>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Sản lượng một ca:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.SanLuongMotCa" (ngModelChange)="CountTongSanLuong()" [disabled]="true" locale="en-US" placeholder="Nhập sản lượng một ca"></p-inputNumber>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Sản lượng quy đổi:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-inputNumber [(ngModel)]="itemThang.SanLuongQuyDoi" [disabled]="true" locale="en-US" placeholder="Sản lượng quy đổi">
          </p-inputNumber>
        </div>
      </div>
    </div>
  </p-panel>
  <p-panel header="Vận chuyển">
    <div class="p-grid">
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Loại Container:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-dropdown [(ngModel)]="itemThang.IdLoaiContainer" [filter]="true" [options]="listContainer" placeholder="Chọn loại Container" [showClear]="true"
            styleClass="p-inputtext-sm"></p-dropdown>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Phương thức vận chuyển:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-dropdown [(ngModel)]="itemThang.IdLoaiPhuongThucVanChuyen" [filter]="true" [options]="listPhuongThucVanChuyen" placeholder="Chọn loại phương thức vận chuyển" [showClear]="true"
            styleClass="p-inputtext-sm"></p-dropdown>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Xuất khẩu/Nội địa:</label>
        <div class="p-col-12 p-lg-8 p-p-0 my-auto">
          <p-dropdown [(ngModel)]="itemThang.CachThuc" [filter]="true" [options]="listCachThuc" placeholder="Chọn hình thức vận chuyển" [showClear]="true"
            styleClass="p-inputtext-sm"></p-dropdown>
        </div>
      </div>
      <div class="p-col-12 p-lg-6 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-lg-5 p-p-0 my-auto">Sử dụng cho tất cả các tháng:</label>
        <div class="p-col-12 p-lg-7 p-p-0 my-auto">
          <p-checkbox [(ngModel)]="itemThang.checkForAll" [binary]="true"></p-checkbox>
        </div>
      </div>
    </div>
  </p-panel>
</div>