<!-- <div class="p-col-12 p-p-0 pintable-container" style="height: 45vh;" voiPintable [pinnedCols]="1">
    <table>
        <thead>
            <tr>
                <th class="tc-w-200 p-py-2" style="z-index: 999;">Tài sản</th>
                <th *ngFor="let label of labelThang" class="tc-w-100"> {{label}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of listTaiSan, let i=index">
                <tr>
                    <td class="tc-w-200 p-py-3" style="background-color: white;z-index: 999;">{{item.TenTaiSan}}</td>
                    <td *ngFor="let bd of item.listBaoDuong" class="text-center tc-w-100 p-p-2">
                        <div *ngFor="let loaiBd of bd.listChiTiet">
                            {{loaiBd.TendmLoaiBaoDuong}}
                        </div>
                        <a href="javascript:void(0)" (click)="getBaoDuong(item,bd)">Chọn</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div> -->
<div class="p-grid p-jc-between">
    <!-- <span class="p-input-icon-left mb-3" style="width: 300px">
        <i class="pi pi-search"></i>
        <input type="text" [(ngModel)]="keyword"  pInputText placeholder="Tìm kiếm..." />
    </span> -->
    <div>
        <button pButton pRipple label="Xóa bảo dưỡng" icon="pi pi-trash" class="p-button-sm p-mr-2" (click)="handlDel()"></button>
    </div>
    <div class="p-inputgroup  mb-3" style="width: 200px;">
        <span class="p-input-icon-left" style="width: 300px">
            <i class="pi pi-search"></i>
            <input type="text" [(ngModel)]="keyword" pInputText placeholder="Tìm kiếm..." />
        </span>
        <button type="button" pButton pRipple icon="pi pi-refresh" class="p-button-secondary p-button-sm p-button-text"
            (click)="resetFilter()"></button>
    </div>
</div>
<div>
    <p-table [value]="listTaiSan | filter: keyword"
        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 50px"></th>
                <th style="width: 100px">Tài sản</th>
                <th style="width: 250px">Loại BD</th>
                <th *ngFor="let label of labelThang" class=""> {{label}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr *ngFor="let baoduongthang of item.listBaoDuongThang; let i = index">
                <td class="text-center">
                    <p-checkbox [(ngModel)]="baoduongthang.checked" [binary]="true"></p-checkbox>
                </td>
                <td *ngIf="i === 0" [attr.rowspan]="item.listBaoDuongThang.length" style="background-color: #fff;">
                    {{item.TenTaiSan}}</td>
                <td>{{baoduongthang.TendmLoaiBaoDuong}} - {{baoduongthang.Ngay | date: 'MM/yyyy'}}</td>
                <td *ngFor="let thoigian of baoduongthang.listThoiGian; let index = index"
                    [style.backgroundColor]="thoigian.IsWeekend?'#edbfbb':''" class="text-center">
                    <p-checkbox [(ngModel)]="thoigian.isChon" [binary]="true"
                        (onChange)="check($event ,index,baoduongthang.listThoiGian)"></p-checkbox>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>