<div class="p-col-12 p-p-0 pintable-container" style="height: 77vh;" voiPintable [pinnedCols]="1">
    <table>
        <thead>
            <tr>
                <th class="tc-w-200 p-py-2" style="z-index: 999;">Tài sản</th>
                <th *ngFor="let label of labelThang" class="tc-w-100"> {{label}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of listTaiSan, let i=index">
                <tr>
                    <td class="tc-w-200 p-py-3" style="background-color: white;z-index: 999;">{{item.TenTaiSan}}</td>
                    <td *ngFor="let bd of item.listBaoDuong" class="text-center tc-w-100" >
                        <div *ngFor="let loaiBd of bd.listLoaiBaoDuong">
                            {{bd.ThoiGian}}
                            {{loaiBd.TendmLoaiBaoDuong}}
                        </div>
                        <button pButton icon="pi pi-plus" pRipple type="button" label="Thêm" styleClass="p-button-sm" class="p-button-raised p-button-text p-mt-2" (click)="getBaoDuong(item,bd)"></button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>