.tc-w-200{
    min-width: 200px !important; 
    max-width: 200px !important;
}
.tc-w-100{
    min-width: 100px !important; 
    max-width: 100px !important;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list li {
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.list li:last-child {
    border-bottom: none;
}
