<div class="p-d-flex p-flex-row">
  <div class="p-mr-2">
    <div class="p-field-checkbox ischon">
      <p-checkbox binary="true" value="" [(ngModel)]="item.isChon" (onClick)="isChon()"></p-checkbox>
      <label>Tình trạng bảo dưỡng</label>
    </div>
  </div>
  <div class="p-mr-2">
    <div class="p-field-radiobutton ischon" *ngIf="item.isChon">
      <p-radioButton  value="" [(ngModel)]="item.isChonNam" (onClick)="isChonNam()"></p-radioButton>
      <label >Theo năm</label>
    </div>
  </div>
  <div class="p-mr-2">
    <div class="p-field-radiobutton ischon" *ngIf="item.isChon">
      <p-radioButton  value="" [(ngModel)]="item.isChonThang" (onClick)="isChonThang()"></p-radioButton>
      <label>Theo tháng</label>
    </div>
  </div>
  <div class="p-mr-2"  *ngIf="item.isChonNam && item.isChon">
      <p-dropdown [filter]="true" [options]="listNam" placeholder="Chọn năm" styleClass="p-inputtext-sm"></p-dropdown>
  </div>
  <div class="p-mr-2"  *ngIf="item.isChonThang && item.isChon">
      <p-calendar dateFormat="mm/yy" inputStyleClass="p-inputtext-sm" [showIcon]="true" inputId="icon"
        placeholder="Chọn tháng, năm">
      </p-calendar>
  </div>
</div>
<p-table *ngIf="item.isChonNam" styleClass="p-datatable-sm wrap-text p-datatable-striped">
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col style="width:100px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
      <col style="width:50px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Loại bảo dưỡng</th>
      <th class="text-center">Tháng 1</th>
      <th class="text-center">Tháng 2</th>
      <th class="text-center">Tháng 3</th>
      <th class="text-center">Tháng 4</th>
      <th class="text-center">Tháng 5</th>
      <th class="text-center">Tháng 6</th>
      <th class="text-center">Tháng 7</th>
      <th class="text-center">Tháng 8</th>
      <th class="text-center">Tháng 9</th>
      <th class="text-center">Tháng 10</th>
      <th class="text-center">Tháng 11</th>
      <th class="text-center">Tháng 12</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr>
      <td class="text-center">

      </td>

    </tr>
  </ng-template>
</p-table>
<p-table *ngIf="item.isChonThang" styleClass="p-datatable-sm wrap-text p-datatable-striped">
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col style="width:200px">

    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Loại bảo dưỡng</th>
      <th *ngFor="let label of labelThang" class="tc-w-100">{{label}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr>
      <td class="text-center">

      </td>
      <td></td>
    </tr>
  </ng-template>
</p-table>