<!-- <div class="p-d-flex p-flex-row p-jc-end p-grid flex-d">
    <div class="modal-bt p-mb-4 p-col-12 p-lg-2  p-p-3 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto"> </label>
        <div class="p-col-12 p-lg-8 p-p-0">
            Tổng số:thiết bị
        </div>
    </div>
</div> -->
<p-table [value]="item" styleClass="p-datatable-sm wrap-text p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="colgroup">
        <colgroup>
            <col style="width:100px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
            <col style="width:50px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">Tài sản/vật tư</th>
            <th class="text-center">Tháng 1</th>
            <th class="text-center">Tháng 2</th>
            <th class="text-center">Tháng 3</th>
            <th class="text-center">Tháng 4</th>
            <th class="text-center">Tháng 5</th>
            <th class="text-center">Tháng 6</th>
            <th class="text-center">Tháng 7</th>
            <th class="text-center">Tháng 8</th>
            <th class="text-center">Tháng 9</th>
            <th class="text-center">Tháng 10</th>
            <th class="text-center">Tháng 11</th>
            <th class="text-center">Tháng 12</th>
            <th class="text-center">Tổng số </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td> {{item.TenTaiSan}}</td>
            <td class="text-center" *ngFor="let chiPhi of item?.listChiPhi">
                <div *ngIf="chiPhi.ChiTietChiPhi.length" class="p-d-flex p-flex-column">
                    <div  *ngFor="let item of chiPhi.ChiTietChiPhi; let i = index" class="p-d-flex p-ai-center">
                        <a href="javascript:void(0)" (click)="editChiTietChiPhi(item)" >
                            {{item.TenChiPhi}} - {{item.SoTien  | number:'0.0-0'}} 
                        </a>
                        <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger" (click)="Delete(chiPhi.ChiTietChiPhi,i)"></button>
                    </div>
                </div>
                <!-- <button pButton icon="pi pi-plus" pRipple type="button" label="Thêm" styleClass="p-button-sm" class="p-button-raised p-button-text p-mt-2" (click)="ChiTietThongTin(chiPhi)"></button> -->
                <a href="javascript:void(0)" (click)="ChiTietThongTin(chiPhi)">Chọn</a>
            </td>
            <td></td>
        </tr>
    </ng-template>
</p-table>