<div class="p-d-flex p-ai-center p-jc-start p-py-3">
    <button pButton pRipple label="Tạo mới" icon="pi pi-plus" (click)="add()" class="p-button-sm p-mr-2"></button>

</div>
<div class="p-mt-3">
    <p-table [value]="listBaoLanh | isXoa" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines " [scrollable]="true">
        <ng-template pTemplate="colgroup">
            <colgroup>
                <col style="width:100px">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">

                <col style="width: 100px;">
                <col style="width: 100px;">
                <col style="width: 100px;">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>

                <th>Loại bảo lãnh </th>
                <th>Số biên bản </th>
                <th>Giá trị</th>
                <th>Thời gian hiệu lực bảo lãnh</th>
                <th>Tình trạng</th>
                <th>Ghi chú</th>
                <th>Hồ sơ</th>
                <th></th>
                <!-- <th *ngFor="let header of cols"> {{header.header}} </th> -->

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
            <tr>

                <td class="text-center">{{item.iddmLoaiBaoLanh}}</td>
                <td class="text-center">{{item.soVanBan}}</td>
                <td class="text-center">{{item.giaTri}}</td>

                <td class="text-center">{{item.hieuLucBaoLanh|date:'dd/MM/yyyy'}}</td>
                <td class="text-center">{{item.tinhTrang}}</td>
                <td class="text-center">{{item.ghiChu}}</td>
                <td class="text-center"></td>
                <!-- <td class="text-center">{{item.ghiChu}}</td> -->

                <td class="text-center date">
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-text p-button-sm p-button-secondary p-mr-2" (click)="edit(item, i)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-text p-button-sm p-button-secondary" (click)="delete(i)"></button>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between"> Tổng số bản ghi {{ (listBaoLanh | isXoa).length }}.</div>
        </ng-template> -->
    </p-table>
</div>