<div class="p-grid"> 
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Mã : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Tên : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Đơn vị tính : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Bộ phận sử dụng : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Nguyên giá : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Giá trị còn lại : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Thời gian sử dụng : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>

    <div class="p-col-12 p-lg-6 p-mb-3 p-p-3 d-flex flex-column flex-xl-row">
        <label class="p-col-12 p-xl-2 p-p-0 my-auto">Mã : </label>
        <div class="p-col-12 p-xl-10 p-p-0">
           
        </div>
    </div>
</div>