<div class="modal-header">
    <h5 class="modal-title">Kế hoạch xuất hàng {{nametype}}</h5>
    <!-- <div class="p-col-12 p-lg-4 p-p-0 d-flex flex-column flex-lg-row">
        <label class="p-col-12 p-lg-4 p-p-0 my-auto">Nhà máy:</label>
        <div class="p-col-12 p-lg-8 p-p-0">
            <p-dropdown [filter]="true" [options]="listNhaMay" placeholder="Chọn nhà máy" styleClass="p-inputtext-sm"
                [(ngModel)]="item.NhaMay"></p-dropdown>
        </div>
    </div> -->
    <button *ngIf="false" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="p-d-flex p-flex-row p-jc-between">
        <div class="modal-bt p-mb-4 ">
            <button pButton pRipple type="button" label="Quay lại" class="p-mr-2 p-button-sm"
                (click)="Onclose()"></button>
            <button pButton pRipple type="button" label="Ghi" class="p-mr-2 p-button-sm " (click)="GhiLai()"
                *ngIf="checkbutton.Ghi"></button>
            <button pButton pRipple type="button" label="Xóa" class="p-mr-2 p-button-sm" *ngIf="checkbutton.Xoa"
                (click)="XoaQuyTrinh()"></button>
            <button pButton pRipple type="button" label="Không duyệt" class="p-mr-2 p-button-sm" (click)="KhongDuyet()"
                *ngIf="checkbutton.KhongDuyet"></button>
            <button pButton pRipple type="button" label="Chuyển duyệt" class="p-mr-2 p-button-sm"
                (click)="ChuyenDuyet()" *ngIf="checkbutton.ChuyenTiep"></button>
            <!-- <button pButton pRipple type="button" label="Kết xuất" class="p-mr-2 p-button-sm"></button> -->
        </div>

    </div>
    <div class="p-grid">
        <div class="p-col-12 p-lg-4 p-p-3 d-flex flex-column flex-lg-row">
            <label class="p-col-12 p-lg-2 p-p-0 my-auto">Kho:</label>
            <div class="p-col-12 p-lg-10 p-p-0">
                <p-dropdown [filter]="true" [options]="listKho" placeholder="Chọn kho" [(ngModel)]="item.idKhoXuat"
                    styleClass="p-inputtext-sm"></p-dropdown>
            </div>
        </div>
        <div class="p-col-12 p-p-0 d-flex flex-column">
            <!-- <div class="p-d-flex p-flex-row p-jc-between p-mb-3">
                <button pButton pRipple type="button" label="Chọn danh sách thửa đất" class="p-mr-2 p-button-sm"
                    (click)="chonThuaDat()"></button>
            </div> -->
            <p-table [value]="item.listItem|isXoa" styleClass="p-datatable-sm wrap-text p-datatable-striped">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col style="width:100px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th rowspan="2">#</th>
                        <th rowspan="2">Loại sợi</th>
                        <th colspan="2">Tên kho</th>
                        <th rowspan="2">Thời gian xuất hàng</th>
                        <th rowspan="2">Người nhận hàng</th>
                        <th rowspan="2">Khách hàng</th>
                        <th rowspan="2">Ghi chú</th>
                        <th rowspan="2" style="width: 100px;"></th>
                    </tr>
                    <tr>
                        <th>KG</th>
                        <th>Số kiện</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-i="rowIndex">
                    <tr>
                        <td class="text-center">{{i+1}}</td>
                        <td class="text-center">
                            <p-dropdown [filter]="true" [options]="listloaisoi" placeholder="Chọn"
                                [(ngModel)]="item.IddmItem" styleClass="p-inputtext-sm"></p-dropdown>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoLuongKg">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="item.SoLuongKien">
                            </p-inputNumber>
                        </td>
                        <td class="text-center">
                            <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true"
                                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="false"
                                [(ngModel)]="item.ThoiGianDuKien" inputId="icon" placeholder="dd/mm/yyyy">
                            </p-calendar>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="item.NguoiNhan">
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="item.KhachHang">
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="item.GhiChu">
                        </td>
                        <td class="text-center">
                            <button pButton pRipple icon="pi pi-times"
                                class="p-button-sm p-button-rounded p-button-secondary p-button-text p-mr-2"
                                (click)="delete(i)" pTooltip="Hủy" tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="opt!=='modal'">
                    <tr>
                        <td></td>
                        <td>
                            <p-dropdown [filter]="true" [options]="listloaisoi" placeholder="Chọn"
                                [(ngModel)]="newTableItem.IddmItem" styleClass="p-inputtext-sm"></p-dropdown>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.SoLuongKg">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-inputNumber [minFractionDigits]="0" locale="vi-VN" [(ngModel)]="newTableItem.SoLuongKien">
                            </p-inputNumber>
                        </td>
                        <td>
                            <p-calendar dateFormat="dd/mm/yy" [locale]="lang" [monthNavigator]="true"
                                [yearNavigator]="true" [yearRange]="yearRange" [showIcon]="false"
                                [(ngModel)]="newTableItem.ThoiGianDuKien" inputId="icon" placeholder="dd/mm/yyyy">
                            </p-calendar>
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.NguoiNhan">
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.KhachHang">
                        </td>
                        <td>
                            <input pInputText type="text" [(ngModel)]="newTableItem.GhiChu">
                        </td>
                        <td class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus"
                                class="p-button-rounded p-button-sm " (click)="add()"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <!-- <button pButton pRipple label="Chấp nhận" class="p-button-sm p-mr-2" (click)="accept()"></button>
    <button pButton pRipple label="Thoát" class="p-button-sm p-button-outlined p-button-secondary p-mr-2"
        (click)="activeModal.dismiss()"></button> -->
</div>